In [1]:
import numpy as np
import pandas as pd

In [32]:
gold_history = pd.read_csv(
    './data/01.gold_historic_data.csv'
    , thousands=','
)

In [33]:
gold_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      5000 non-null   object
 1   종가      5000 non-null   float64
 2   오픈      5000 non-null   float64
 3   고가      5000 non-null   float64
 4   저가      5000 non-null   float64
 5   거래량     5000 non-null   object
 6   변동 %    5000 non-null   object
dtypes: float64(4), object(3)
memory usage: 214.9+ KB

In [34]:
# 데이터프레임에서 csv 파일 저장할때, euc-kr 로 저장하면 엑셀로 열때 깨지지 않고 제대로 보인다. 

gold_history.to_csv(
    './data/01.gold_historic_data_test.csv'
    ,sep=','
    ,encoding='euc-kr'
)

crime_anal_police = pd.read_csv(
    './data/02. crime_in_Seoul.csv', encoding='euc-kr'   #euc-kr: 완성형 코드, 인코딩 테이블
    , thousands=','  # 천자리 구분자 처리 => , 있어도 숫자 처리 가능해진다. => 문자 X , int64 로 dtype 설정가능
)
crime_anal_police.info()

In [35]:
# 근데 열때 반드시 인코딩 타입 지정해주지 않으면 열리지 않는다.
test_df=pd.read_csv(
    './data/01.gold_historic_data_test.csv'
    ,encoding = 'euc-kr'
    , index_col=0
)
test_df

                 날짜      종가      오픈      고가      저가    거래량    변동 %
0     2020년 03월 17일  1534.1  1504.5  1561.5  1476.3  3.41K   2.70%
1     2020년 03월 16일  1493.8  1573.0  1578.6  1458.8  2.74K  -2.04%
2     2020년 03월 13일  1524.9  1592.6  1604.2  1514.3  2.51K  -4.62%
3     2020년 03월 12일  1598.8  1648.6  1655.2  1568.7  3.05K  -3.15%
4     2020년 03월 11일  1650.8  1657.9  1677.6  1641.7  4.20K  -1.09%
...             ...     ...     ...     ...     ...    ...     ...
4995  2000년 08월 21일   275.1   275.5   276.2   275.0  0.04K  -0.61%
4996  2000년 08월 18일   276.8   276.0   276.3   274.9  0.04K  -0.32%
4997  2000년 08월 17일   277.7   277.8   279.0   277.0  0.08K   0.14%
4998  2000년 08월 16일   277.3   276.4   278.3   275.5  0.02K   0.98%
4999  2000년 08월 15일   274.6   274.4   274.4   273.8  0.02K   0.07%

[5000 rows x 7 columns]

In [19]:
# 그러나 utf-8 로 저장하면 엑셀로 열면 제대로 보이지 않는다. 하지만 파이썬에서 다시 열때 인코딩 타입 지정해주지 않아도 된다.
gold_history.to_csv(
    './data/01.gold_historic_data_test2.csv'
    ,sep=','
    ,encoding='utf-8'
)

In [36]:
test_df2=pd.read_csv(
    './data/01.gold_historic_data_test2.csv'
    , index_col=0
)

test_df2

                 날짜      종가      오픈      고가      저가    거래량    변동 %
0     2020년 03월 17일  1534.1  1504.5  1561.5  1476.3  3.41K   2.70%
1     2020년 03월 16일  1493.8  1573.0  1578.6  1458.8  2.74K  -2.04%
2     2020년 03월 13일  1524.9  1592.6  1604.2  1514.3  2.51K  -4.62%
3     2020년 03월 12일  1598.8  1648.6  1655.2  1568.7  3.05K  -3.15%
4     2020년 03월 11일  1650.8  1657.9  1677.6  1641.7  4.20K  -1.09%
...             ...     ...     ...     ...     ...    ...     ...
4995  2000년 08월 21일   275.1   275.5   276.2   275.0  0.04K  -0.61%
4996  2000년 08월 18일   276.8   276.0   276.3   274.9  0.04K  -0.32%
4997  2000년 08월 17일   277.7   277.8   279.0   277.0  0.08K   0.14%
4998  2000년 08월 16일   277.3   276.4   278.3   275.5  0.02K   0.98%
4999  2000년 08월 15일   274.6   274.4   274.4   273.8  0.02K   0.07%

[5000 rows x 7 columns]

In [23]:
test_df2

                 날짜      종가      오픈      고가      저가    거래량    변동 %
0     2020년 03월 17일  1534.1  1504.5  1561.5  1476.3  3.41K   2.70%
1     2020년 03월 16일  1493.8  1573.0  1578.6  1458.8  2.74K  -2.04%
2     2020년 03월 13일  1524.9  1592.6  1604.2  1514.3  2.51K  -4.62%
3     2020년 03월 12일  1598.8  1648.6  1655.2  1568.7  3.05K  -3.15%
4     2020년 03월 11일  1650.8  1657.9  1677.6  1641.7  4.20K  -1.09%
...             ...     ...     ...     ...     ...    ...     ...
4995  2000년 08월 21일   275.1   275.5   276.2   275.0  0.04K  -0.61%
4996  2000년 08월 18일   276.8   276.0   276.3   274.9  0.04K  -0.32%
4997  2000년 08월 17일   277.7   277.8   279.0   277.0  0.08K   0.14%
4998  2000년 08월 16일   277.3   276.4   278.3   275.5  0.02K   0.98%
4999  2000년 08월 15일   274.6   274.4   274.4   273.8  0.02K   0.07%

[5000 rows x 7 columns]

In [ ]:
# 앞에 필요없는 컬럼 불러올때 지우는 법 찾아보기!! 있었는데,..까먹었다. => 불러올 때 인덱스 지정 하면 된다. index_col = 0

In [43]:
df = test_df2.sort_values(by='날짜')
df.head()

                 날짜     종가     오픈     고가     저가    거래량    변동 %
4999  2000년 08월 15일  274.6  274.4  274.4  273.8  0.02K   0.07%
4998  2000년 08월 16일  277.3  276.4  278.3  275.5  0.02K   0.98%
4997  2000년 08월 17일  277.7  277.8  279.0  277.0  0.08K   0.14%
4996  2000년 08월 18일  276.8  276.0  276.3  274.9  0.04K  -0.32%
4995  2000년 08월 21일  275.1  275.5  276.2  275.0  0.04K  -0.61%

In [50]:
# 엑셀에서 utf-8로 인코딩 형식 지정해서 저장해도, 불러올때 euc-kr 로 해주지 않으면 오류난다. 왜??? 모르겠다. 
df=pd.read_csv(
    './data/01.gold_historic_data_test3.csv'
    , encoding = 'euc-kr'
    , index_col =0
)
df

              날짜      종가      오픈      고가      저가    거래량    변동 %
0     2020-03-17  1534.1  1504.5  1561.5  1476.3  3.41K  0.0270
1     2020-03-16  1493.8  1573.0  1578.6  1458.8  2.74K -0.0204
2     2020-03-13  1524.9  1592.6  1604.2  1514.3  2.51K -0.0462
3     2020-03-12  1598.8  1648.6  1655.2  1568.7  3.05K -0.0315
4     2020-03-11  1650.8  1657.9  1677.6  1641.7  4.20K -0.0109
...          ...     ...     ...     ...     ...    ...     ...
4995  2000-08-21   275.1   275.5   276.2   275.0  0.04K -0.0061
4996  2000-08-18   276.8   276.0   276.3   274.9  0.04K -0.0032
4997  2000-08-17   277.7   277.8   279.0   277.0  0.08K  0.0014
4998  2000-08-16   277.3   276.4   278.3   275.5  0.02K  0.0098
4999  2000-08-15   274.6   274.4   274.4   273.8  0.02K  0.0007

[5000 rows x 7 columns]

In [53]:
# 판다스에서 저장해주면, 다시 불러올 때 문제없으니, 일단 한번 데이터 프레임 작업한 애면 괜찮겠다.
# 아마 저장할 때 utf-8로 저장되는듯
df.to_csv(
    './data/01.gold_historic_data_test3.csv'
    ,sep=','
    ,encoding='utf-8'
)

In [54]:
df=pd.read_csv(
    './data/01.gold_historic_data_test3.csv'
    , index_col =0
)
df

              날짜      종가      오픈      고가      저가    거래량    변동 %
0     2020-03-17  1534.1  1504.5  1561.5  1476.3  3.41K  0.0270
1     2020-03-16  1493.8  1573.0  1578.6  1458.8  2.74K -0.0204
2     2020-03-13  1524.9  1592.6  1604.2  1514.3  2.51K -0.0462
3     2020-03-12  1598.8  1648.6  1655.2  1568.7  3.05K -0.0315
4     2020-03-11  1650.8  1657.9  1677.6  1641.7  4.20K -0.0109
...          ...     ...     ...     ...     ...    ...     ...
4995  2000-08-21   275.1   275.5   276.2   275.0  0.04K -0.0061
4996  2000-08-18   276.8   276.0   276.3   274.9  0.04K -0.0032
4997  2000-08-17   277.7   277.8   279.0   277.0  0.08K  0.0014
4998  2000-08-16   277.3   276.4   278.3   275.5  0.02K  0.0098
4999  2000-08-15   274.6   274.4   274.4   273.8  0.02K  0.0007

[5000 rows x 7 columns]