In [1]:
import numpy as np
import pandas as pd

### investing 페이지 뉴스 헤드라인 불러오기(by jhshin)

In [1]:
import random
import urllib.request
import urllib.parse
from bs4 import BeautifulSoup
import time
import csv

In [2]:
header = {'User-Agent': 'Mozilla/5.0'}
pageNum = 1
saveTocsv = []
tmp = []

while pageNum:
    url = f'https://kr.investing.com/news/stock-market-news/{pageNum}'

    request = urllib.request.Request(url, headers=header)
    html = urllib.request.urlopen(request).read()
    soup = BeautifulSoup(html, 'html.parser')

    title = soup.find_all(class_="js-external-link title")

    for i in title:
        print(i.attrs['href'])
        print(i.attrs['title'])

        tmp = [[i.attrs['href']],[i.attrs['title']]]
        saveTocsv.append(tmp)



    with open('saved.csv', 'w', encoding='utf-8', newline='') as f:
        writer = csv.writer(f)
        writer.writerow(['link', 'title'])
        writer.writerow(saveTocsv)

    pageNum += 1
    print(str(pageNum)+'페이지 완료')
    time.sleep(random.uniform(1,10))

https://invst.ly/s7ix3
IBK기업은행, 국내 최초 'AI 부동산 자동심사 시스템' 도입
https://invst.ly/s7ix0
삼광글라스, 23일 추석특집 올데이 라이브 방송
https://invst.ly/s7iwy
교보생명, 한층 똑똑해진 AI 챗봇 '러버스 2.0' 오픈
https://invst.ly/s7iu1
[특징주] 신풍제약, 2100억 규모 자사주 처분에 급락
https://invst.ly/s7iu7
[특징주] 박셀바이오, 코스닥 상장 첫날 하락세
https://invst.ly/s7iuq
하이트진로, 소방유가족 지원금 전달…꾸준한 인연 이어가
https://invst.ly/s7iuo
JTI코리아, ‘메비우스 LBS 트로피컬 믹스’ 출시
https://invst.ly/s7it-
[특징주] 박셀바이오, 코스닥 입성일에 20% 하락
https://invst.ly/s7ivc
[특징주] 삼성바이오로직스, 3천억원대 의약품 위탁생산 계약에 강세
https://invst.ly/s7iun
[특징주] 박셀바이오, 코스닥 상장 첫날 급락…공모가 밑돌아
https://invst.ly/s7ium
강승조 이글벳 회장, 사랑의열매 아너 소사이어티 가입
https://invst.ly/s7isq
NH투자증권, 부산 디지털 자산관리센터 신설
https://invst.ly/s7isr
최태원의 승부수… SK그룹, 美 실리콘밸리서 AI 자회사 출범
https://invst.ly/s7iup
HDC현대산업개발·롯데건설 ‘반정 아이파크 캐슬 5단지’ 10월 분양
https://invst.ly/s7isu
랩지노믹스, 美언론 진단키트 신뢰도 불신 보도에 급락
https://invst.ly/s7ivf
[특징주]나라엠앤디, LG화학 2차전지 배터리팩 공급사…LG전자가 2대주주 강세
2페이지 완료
https://invst.ly/s7isw
금호타이어 엑스타 레이싱팀, 현대성우쏠라이트 후원 협약 체결
https://invst.ly/s7iui
지니언스, 가트너 선정 '차세대 NAC' 대표 기업
https://invst.ly/s7iug
[단독] 메이슨캐피탈, 투자사 '도부라이프텍' 가치 쑥쑥…관리종목 탈피 청신호
https://invst.ly/s7iss
르노삼성차, 2만원 상당 프리미엄 점검 서비스 추석맞이 무상 제공
https://invst.ly/s7isv

https://invst.ly/s7isp
Real-Time Ray-Tracing IP 기업 실리콘아츠, 미국 픽실리카의 뉴젠그래픽스와 양해각서 체결
https://invst.ly/s7iqa
[특징주] 랩지노믹스, 코로나19 진단키트 '불량' 논란에 급락
https://invst.ly/s7iqc
KB증권, 비대면 신규 계좌개설하면 해외주식 랜덤 증정
https://invst.ly/s7iqe
대웅제약-메디톡스 '보톡스 분쟁' 다시 원점되나… 美ITC 전면 재검토 결정
https://invst.ly/s7iqf
기아차, ‘2021 스포티지’ 출시
https://invst.ly/s7iqg
신풍제약, 자사주 처분 소식에 11%급락
https://invst.ly/s7iq9
[특징주] 박셀바이오, 코스닥 입성 첫 날 급락…공모가도 하회
https://invst.ly/s7iql
랑세스, 바이오 원료 기반 우레탄 프리폴리머 '아디프렌 그린' 개발
https://invst.ly/s7ist
코스피, 뉴욕증시 부진에 약보합 출발…외국인·기관 '사자'
https://invst.ly/s7iqh
롯데케미칼, 플라스틱 자원 선순환 확대를 위한 제1호 지역클러스터 조성
https://invst.ly/s7iq7
[특징주] 신풍제약, 자사주 매각 공시에 '급락'
https://invst.ly/s7ism
메디톡스
3페이지 완료
https://invst.ly/s7io-
[코스피 개장] 1.25P(0.05%) 내린 2388.14
https://invst.ly/s7ip0
[코스닥 개장] 0.73P(0.08%) 오른 867.72
https://invst.ly/s7iqk
[특징주] 에스티큐브, 삼바-아스트라제네카 대규모 계약, 삼성바이오 면역항암제 위탁개발 부각↑
https://invst.ly/s7ip1
앤디포스, 코로나·인플루엔자 콤보진단키트 유럽 CE인증 획득
https://invst.ly/s7inl
美증시 하락에 코스피 소폭 하락 출발
https://invst.ly/s7inn
제이티, SK하이닉스와 52억원 규모 공급계약
https://invst.ly/s7ink
우리은행, 보건복지부 주관 ‘노인일자리 유공기관 부문 대상’ 수상
https://invst.ly/s7iqd

https://invst.ly/s7ioz
LG생활건강 VDL, 톤업 쿠션 출시
https://invst.ly/s7iox
빙그레, 맛있는 건강스낵 '99 칼로리칩' 출시
https://invst.ly/s7iqj
코스닥, 0.73p(0.08%) 오른 867.72 개장
https://invst.ly/s7iqi
코스피, 1.25p(0.05%) 내린 2388.14 개장
https://invst.ly/s7ivd
우리은행, 노인일자리 유공기관 부문 대상 수상
https://invst.ly/s7ima
롯데칠성음료, ‘데일리C 석류콜라겐500’ 출시
https://invst.ly/s7iko
ECB 라가르드 총재 “유로존 경제 회복, 코로나19 통제에 달려”
https://invst.ly/s7ikr
삼성바이오로직스, 아스트라제네카와 3850억 규모 바이오 위탁생산 계약 체결
https://invst.ly/s7ikl
‘배터리 데이’ D-1에 테슬라 머스크 “판매량 사상 최고치 가능”
4페이지 완료
https://invst.ly/s7ikf
앤디포스, 코로나·독감 동시 진단키트 유럽 CE-IVD 인증 획득
https://invst.ly/s7im9
앤디포스, 코로나·인플루엔자 콤보 진단키트 유럽 CE인증 획득
https://invst.ly/s7im8
[Hot-Line]
https://invst.ly/s7ikq
[포토] LG화학 노조, '투쟁으로 맞서겠다'
https://invst.ly/s7im7
나이벡, 약물전달 플랫폼 '글로벌 제약사와 신약개발 항암 효능검사 진행'
https://invst.ly/s7ikn
[포토] LG화학 분사, '조합원은 분노한다'
https://invst.ly/s7ikg
대웅제약-메디톡스 '보톡스 분쟁' 2차전? 美 ITC
https://invst.ly/s7ij5
GS리테일, 신사업 유기농몰 '달리살다' 론칭…멤버십도 운영
https://invst.ly/s7ij4
롯데건설, 2020 지속가능경영보고서 발간
https://invst.ly/s7ij3
스타벅스, 온라인 창업카페로 청년 창업 지원 계속
https://invst.ly/s7ij1
오뚜기, 뜨거운 물만 부어 간편하고 든든하게 ‘아침미식’ 3종 출시
https://invst.ly/s7ii9
LG전자, 온라인판매 증가로 하반기 사상 최대 실적 전망-KB증권
https://invst.ly/s7ikm
'코로나 직격탄' 코스피 상승률 G20중 두번째…
https://invst.ly/s7ij2
[국제유가]코로나19 재유행 우려 속 WTI 4.4%↓
https://invst.ly/s7ii-
[뉴욕증시]유럽 재봉쇄 우려·은행주 불안에 다우 하락
https://invst.ly/s7iic
[Hot-Line]
https://invst.ly/s7iib
신한카드, 비자와 업무협약·ADB 데이터 판매계약 추진
5페이지 완료
https://invst.ly/s7ig9
삼성전자, ‘갤럭시F’ 시리즈 출시 예고… 인도 시장 공략 강화
https://invst.ly/s7iia
[단독] 전승호 대웅제약 대표
https://invst.ly/s7ige
블랙 테마 트림에 편의사양 강화…기아차 '2021 스포티지' 출시
https://invst.ly/s7ih5
CJ CGV, 코로나19發 실적부진…모멘텀 불투명-NH證
https://invst.ly/s7ih4
코오롱글로벌, 어닝 서프라이즈에 풍력까지…목표가 2만7천원↑-교보
https://invst.ly/s7ifk
아주캐피탈, 코로나19 여파에도 견조한 실적·배당 예상-NH투자증권
https://invst.ly/s7ifq
삼성바이오로직스, 아스트라제네카와 의약품 위탁생산 공급계약 체결
https://invst.ly/s7ifo

https://invst.ly/s7ifn
신한카드, 해외로 데이터 판매시장 확대…비자와 전략적 MOU 협약
https://invst.ly/s7ifl
LPG 용량조작 잡는 석관원 검사車 떴다
https://invst.ly/s7iga
'갤S20 FE' 언팩 D-1…가장 화려한 색상의 갤럭시가 온다
https://invst.ly/s7ifm
LG 여의도 트윈타워서 코로나19 확진…건물 일부 폐쇄
https://invst.ly/s7idn
풍산, 방산수출 호조 예상…전기동값 상승도 긍정적-유진證
https://invst.ly/s7idu
[클릭 e종목]
https://invst.ly/s7ids
6000억 세금 불복한 구글, 5조짜리 국내지도에는 무임승차?
https://invst.ly/s7idq
롯데백화점, '가을 정기세일' 진행…최대 70% 할인
https://invst.ly/s7icb
뉴욕 증시 하락
6페이지 완료
https://invst.ly/s7ibp
오리온, 국군의 날 맞아 국군장병에 특별 선물세트 1만 상자 후원
https://invst.ly/s7ido
[클릭 e종목] LG전자 하반기 영업익 1.3兆…'사상 최대' 전망
https://invst.ly/s7iav
[클릭 e종목]
https://invst.ly/s7i9o
뉴욕증시, 유럽 재봉쇄 우려·은행주 부진···다우, 1.84%↓
https://invst.ly/s7i81
마이크로소프트, '엘더스크롤' 베데스다 75억달러에 인수
https://invst.ly/s7i73
코스피, '코로나 쇼크' 6개월 새 64%↑···'동학개미'의 힘
https://invst.ly/s7i80
SK하이닉스, AI 전문회사 '가우스랩스' 출범…미래 가치 창출 이끈다
https://invst.ly/s7i77
소니, PS5 사전예약 품절 대란에…물량 확대 방침
https://invst.ly/s7i75
제네시스 GV80도 볼보 XC60도 결함…23개 차종 리콜
https://invst.ly/s7i59
갤노트20 울트라, 美 컨슈머리포트 스마트폰 1위…
https://invst.ly/s7i3y
WTI, 22일 상승 출발
https://invst.ly/s7i2j
[클릭 e종목]
https://invst.ly/s7i2e

https://invst.ly/s7i24
머스크 “테슬라, 3분기 차량 인도 실적 신기록 가능”
https://invst.ly/s7i0i
[e 공시 눈에 띄네]코스닥-21일
https://invst.ly/s7i0e
[e 공시 눈에 띄네]코스피-21일
https://invst.ly/s7hvb
뉴욕증시, 유럽 코로나 봉쇄·은행주 하락에 약세… 다우 1.84% 하락
7페이지 완료
https://invst.ly/s7hsm
'코로나 불안'에 뉴욕증시, 다우 1.84% 하락마감
https://invst.ly/s7hp9
“영화는 그 시대의 거울, 관객이 원하면 바뀔 것”
https://invst.ly/s7hpc
[스마트클라우드⋅인터뷰] 데이븐포트
https://invst.ly/s7ho0
네이버에서 '거래완료' 매물정보 사라지니… 소비자는 다시 '발품의 시대'로
https://invst.ly/s7ho1
“석유 수요 대폭 줄었다… 멸종 대비하라” 정유시설 폐쇄나선 전세계 석유 공룡들
https://invst.ly/s7ho2
제네시스 GV80 또 결함…시동 꺼짐 우려로 8800대 리콜
https://invst.ly/s7ho3
화웨이 제재 시작됐는데 삼성·SK하이닉스, 3분기 어닝서프라이즈?
https://invst.ly/s7ho4
[비즈톡톡] 삼성·하이닉스 SSD가 게임 세상을 바꾼다
https://invst.ly/s7hln
무협, 베트남 진출 모색하는 스타트업 대상 오픈 이노베이션 개최
https://invst.ly/s7hlc
[단독]폐업 공장에
https://invst.ly/s7hic
주가 2900% 뛴 신풍제약…자사주 매각 공시 뜨자 급락
https://invst.ly/s7h4a
네이버도 '들어오라 하세요' 문자받았나…秋검색 궁색한 해명
https://invst.ly/s7fye
프리미엄 타이어 ‘마제스티9’, 편안하고 조용하게 달린다
https://invst.ly/s7fwi
두산, 그룹 상징 ‘두산타워’도 팔았다
8페이지 완료
https://invst.ly/s7fwg
‘제2 테슬라’ 니콜라 창업자, 사기 논란속 사퇴
https://invst.ly/s7fwe
콜라 배달부서 ‘펩시 제국’ 일군 경영인
https://invst.ly/s7fwc
“MZ세대 잡아라” 확 젊어지는 ‘힙화점’
https://invst.ly/s7fwa
미래에셋 ETF 세계 51조 운용 ‘큰손’
https://invst.ly/s7fw9
AI가 심사하니… 보험금 지급 속도 확 빨라졌네
https://invst.ly/s7fw7
현대건설, 34년만에 필리핀서 철도공사 수주
https://invst.ly/s7fw6
기아차, 러-伊서 ‘차량공유 서비스’ 시동
https://invst.ly/s7fw5
SKT “집에서 유전자 검사로 건강관리”
https://invst.ly/s7fw0
현대차그룹, 28개월만에 시총 100조 회복… “수소차 세계1위 기대”
https://invst.ly/s7fvy
LG전자 “탈모 치료용 의료기기 효능 입증”
https://invst.ly/s7fvu
최태원회장 아들 SK E&S 신입사원 입사
https://invst.ly/s7fvt
[단독]SK “미래 경쟁력 강화”… 美에 AI전문기업 세웠다
https://invst.ly/s7fti
현대차 노사 11년만에 기본급 동결
https://invst.ly/s7eey
롯데관광개발, 제주시대 “활짝”
https://invst.ly/s7dcf
한화생명, 보험금 AI 심사기술 특허 땄다
https://invst.ly/s7dcb
코로나 뚫고 매출·주가 나홀로 진격…루이뷔통도 백기 든 에르메스 비결
9페이지 완료
https://invst.ly/s7dc7
니콜라 ‘수소트럭 꿈’ 사기였나, 밀턴 회장 사임
https://invst.ly/s7c0k
현대차 노사, 올해 ‘임금동결’ 잠정 합의… 코로나19 위기 속 동반생존 방점
https://invst.ly/s7bew
국내 치료제 임상3상 잇따라…중증환자엔 투여 시작
https://invst.ly/s7aw3
부산 확진자, 순천서 나흘간 머물러…신원확인 접촉자만 171명 (상보)
https://invst.ly/s7aw0
트럼프
https://invst.ly/s7art
올해 주가 26배 뛴 신풍제약, 자사주 2154억원 규모 처분 결정
https://invst.ly/s7alb
현대차 노사, 올해 '임금동결' 잠정 합의…2년 연속 무분규 합의
https://invst.ly/s7akz
현대차, 11년 만에 임금 동결…임협 잠정 합의
https://invst.ly/s7afg
현대차 임협 잠정합의···2년연속 무분규 합의 및 임금동결
10페이지 완료
https://invst.ly/s7acf
현대건설, 필리핀서 6700억 규모 철도공사 수주
https://invst.ly/s7ac9
서울 강남 '고위험 지역' 지목…
https://invst.ly/s7a2h
‘코로나 확진자 발생’ 기아차 소하리 공장, 22일 1공장부터 가동 재개
https://invst.ly/s79xu
기아차, 22일부터 광명 소하리 1공장 가동 재개
https://invst.ly/s79r8
[속보] 현대차 노사, 올해 임협 잠정 합의… 임금 동결
11페이지 완료
https://invst.ly/s79q-
올 27배 뛴 신풍제약…자사주 팔아 2150억 확보
https://invst.ly/s796-
18시간 만에 서울 13명 추가 확진…산발적 소규모 집단감염 지속(상보)
https://invst.ly/s7909
영업점 활용한 공유車 서비스… 기아차, 딜러 주도형 ‘기아모빌리티’ 시범사업
https://invst.ly/s78ue
코카콜라와 전쟁 벌였던 '펩시 CEO' 도널드 켄달 별세
12페이지 완료
https://invst.ly/s78dt
방통위, 페이스북 소송 상고 결정... 대법원서 다툰다
https://invst.ly/s78dz
두산인프라코어, 매각 예비입찰 28일로 연기
https://invst.ly/s78af
권익위, 대한항공 송현동 부지 논란...
https://invst.ly/s785e
최태원 SK회장 장남, SK E&S 신입사원 입사
https://invst.ly/s78a9
[IT애정남] 아이폰으로 와이파이 접속 시 '보안이 취약함' 경고 메시지가 뜬다면?
13페이지 완료

https://invst.ly/s7854
페이스북 소송戰 '3라운드'...방통위, 대법원 상고
https://invst.ly/s77wy
작년 순이익의 120배…2천억 자사주 한꺼번에 팔아치운 신풍제약
https://invst.ly/s77r9
대웅제약, 당뇨병치료제 임상 2상서 효과·안전성 확인
https://invst.ly/s77lm
위메이드, 기대작 '미르4' 사전 예약자 100만명 넘어
https://invst.ly/s77l7

https://invst.ly/s77fe

https://invst.ly/s77d1
에르메스, LVMH 무찌르고 코로나에도 승승장구 비결은 '가족 경영'
https://invst.ly/s776z
신풍제약, 2154억 규모 자기주식 처분 결정
14페이지 완료
https://invst.ly/s773q
포스코, '청년 구직자 취업지원 교육' 나선다
https://invst.ly/s76yt
코로나에 달라진 국감… 금융권 CEO 줄소환 피할듯
https://invst.ly/s76wa
대한항공·서울시 갈등 '송현동 부지', 권익위
https://invst.ly/s76wg
신한은행, 개인사업자 대상 'My간편급여이체' 서비스
https://invst.ly/s76zj
아프리카TV, 코로나에 강의·학습·예배 방송 늘고 시청자도 증가
https://invst.ly/s76wn
애경유화, 자회사에 290억원 규모 채무보증 결정
https://invst.ly/s76u1
현대차그룹, 수소·전기차 엑셀… 28개월만에 시총 100兆
https://invst.ly/s76ry
삼성전자, 코로나19 여파로 최대 개발자 컨퍼런스 개최 취소
https://invst.ly/s76uh
이상투자그룹 이상우 대표, 테슬라 ‘배터리 데이’ 최대 수혜주 7선 공개”
https://invst.ly/s76ud
제조업 生死…인공지능친환경 기술 트렌드 적응에 달렸다
https://invst.ly/s76wi
美 테슬라 선택에 LG화학·삼성SDI·에코프로 울고 웃는다
https://invst.ly/s76zo
[유가증권시장 공시] 신흥
https://invst.ly/s76w7
[코스닥 공시] 솔트웍스
https://invst.ly/s76jl
한화생명 이승우 차장 등 보험금 AI자동심사 기술특허
https://invst.ly/s76pe
LG화학 매수하라던 증권사, 자기는 200억어치 팔았다
https://invst.ly/s76k3
최태원 회장 장남, SK E&S 신입사원으로 입사
15페이지 완료
https://invst.ly/s76jq
[줌인 이종목] 집콕族·재택 늘자…세하 실적 '쑥'
https://invst.ly/s76hc
최태원 아들, SK ES 전략기획팀에 신입사원으로 입사
https://invst.ly/s76h8
롯데관광개발, 오명 사외이사 신규 선임
https://invst.ly/s76bh
서한, 155억 규모 타법인 주식 취득 결정
https://invst.ly/s76b6
“애플 이어 구글도 앱마켓 30% 수수료…‘제2의 엔씨·넷마블’ 막는다”
https://invst.ly/s768s
현대제철, 프리미엄·친환경 모빌리티 소재로 ‘그린뉴딜’ 주도 [포춘클럽 라운지]
https://invst.ly/s76bb
법무검찰개혁위,
https://invst.ly/s762n
최태원 SK 회장 장남, SK E&S 신입사원으로 입사
https://invst.ly/s762p
공모가로 본 BTS 멤버 1인당 가치는 5000억…메시도 무시 못할 ‘몸값’
https://invst.ly/s762m
걷는 속도 높여주는 삼성전자 로봇, 국제 표준 인정받아
https://invst.ly/s75te
셀러허브, 비자(VISA)와 KB국민카드 손잡고 ‘빠른 정산’ 서비스 출시
https://invst.ly/s762l
두산, 동대문 두산타워 8000억에 매각
16페이지 완료
https://invst.ly/s762s
높아진 두산인프라 몸값…너도나도
https://invst.ly/s75p6
스가 日총리, 文대통령 서한에 답신…
https://invst.ly/s75pw
코스피, 6거래일 만에 '2400선' 반납… 코스닥 2.46%↓
https://invst.ly/s76bl
한환생명, 업계 첫 '보험금 AI 자동심사 시스템' 핵심기술 2건 특허청 기술특허 획득
https://invst.ly/s75ix
SK하이닉스, 설비·공정 등 데이터 표준화…
https://invst.ly/s75jb
신한금융투자
https://invst.ly/s75jo
[마감 시황]外人 '팔자'에 코스피 2400선 붕괴
https://invst.ly/s75pr
뿔난 개미는 LG화학 3일째 던졌고 外人은 담았다…누가 맞을까?
https://invst.ly/s75m-
[속보] 두산, 두산타워빌딩 8000억원에 매각 결정
https://invst.ly/s75mu
진료영수증 학습한 AI가 보험금 심사…한화생명, 기술특허 획득
https://invst.ly/s75g3
아우름유니버스, 온라인 공개 강좌 플랫폼 ‘AI Universe’ 개발
17페이지 완료
https://invst.ly/s75gp
삼성 개발자 행사 'SDC 2020' 올해는 안 열린다
https://invst.ly/s75gc
[팩트체크] '추미애'만 네이버 검색 결과 다를까?
https://invst.ly/s7597
코스피, 외국인 매도에 2400선 붕괴···코스닥 2.5% 하락
https://invst.ly/s75mw
한전, 3차 온실가스 배출권할당 계획 “전기요금 인상요인 작용” 반발
https://invst.ly/s752h
[마켓뷰] 코스피, 파월 발언·배터리데이 앞두고 하락
https://invst.ly/s7560
코스피, 외국인 매도전환에 1% 가까이 하락
https://invst.ly/s756e
하이트진로, 필라이트 4번째 신제품 '라들러' 출시
https://invst.ly/s7566
'니콜라 사기' 논란에 반사이익?…현대차그룹 '쾌속 질주'
https://invst.ly/s74-q
애플 ‘아이폰12’ 전작보다 비싸진다고?… 국내 ‘아이폰11’ 흥행 역주행 할까
18페이지 완료
https://invst.ly/s74xf
한화생명, 사내변호사 뽑으려다 변호사법 위반 해프닝
https://invst.ly/s74xc
[마감시황]코스피, 외인 매도세로 2400선 붕괴
https://invst.ly/s74wz
니콜라 창업자 사퇴에 한화솔루션, LG화학 등 관련주 급락
https://invst.ly/s74xn
국민의힘
https://invst.ly/s74x9
코스피, 외국인 매도에 2400선 붕괴…0.95%↓
https://invst.ly/s74u1
피씨엘, 상장 3년간 죽 쑤다 코로나19로 '기사회생'
https://invst.ly/s74my
신한은행, My간편급여이체 서비스 선보여
https://invst.ly/s74nd
[코스피 마감] 23.01P(0.95%) 내린 2389.39
https://invst.ly/s74nl
[코스닥 마감] 21.89P(2.46%) 내린 866.99
https://invst.ly/s74nr
‘제2의 테슬라’ 니콜라 창업자 의혹 속 자진 사임…“투자자 보호 차원”
https://invst.ly/s74u7
산청군, 65세 이상 노인 대상 마스크 지원
https://invst.ly/s74-b
IPO 시장서 BTS급 돌풍 일으킬까...빅히트 24일 수요예측 돌입
https://invst.ly/s74nn
'BTS' 업은 빅히트, 역대급 상장 예고에도 지수 조기편입은 '높은 벽'
https://invst.ly/s74go
삼성이 만든 '입는 로봇' GEMS Hip 국제표준 안전성 인증
https://invst.ly/s74n7
홍준표, TK 신공항법 발의…
https://invst.ly/s74gd
경기도, 긴급복지 지원 대상 한시 추가 확대
19페이지 완료
https://invst.ly/s74g7
서대문구, IoT 융합 행정으로 스마트시티 대상 '우수상'
https://invst.ly/s74d9

https://invst.ly/s74dt
'秋 검색 조작 의혹' 김근식, 네이버 해명에
https://invst.ly/s74dq
'제2의 테슬라'로 불리던 니콜라, 사기 논란에 창업자 결국 사임
https://invst.ly/s74dj
경북도, '올해보다오래' SNS 캠페인 … 비대면 추석 분위기 확산
https://invst.ly/s749t
신흥, 270억원 규모 유형자산 양도 결정
https://invst.ly/s749c
KB증권, 해외선물 신규고객 대상 '나스닥 선물 수수료 할인'
https://invst.ly/s7496
솔트웍스, 11억 규모 아노토 그룹 주식 취득 결정
https://invst.ly/s7451
키움증권, 11월 13일까지 ‘해외선물옵션 거래 이벤트’
20페이지 완료
https://invst.ly/s7458
동아엘텍, 207억 규모 디스플레이 검사장비 공급계약 체결
https://invst.ly/s744z
코스피 1% 하락 2400선 무너져…환율 8개월 만에 1150원대
https://invst.ly/s742y
크루셜텍
https://invst.ly/s73-q
日, 도쿄올림픽 돈으로 샀나…
https://invst.ly/s73-t
은성수 금융위원장
https://invst.ly/s73-w
가을 '錢어' 배당주, 코로나 쇼크 넘을까
https://invst.ly/s742-
민주당 K-뉴딜위원회 그린뉴딜분과 의원, 신성이엔지 스마트공장 방문
https://invst.ly/s74a0
입장 뒤바뀐 개미와 외국인…개미들, 신풍제약 '팔자'
https://invst.ly/s7403
[포토] 국민의힘, 네이버 추 장관 관련 검색조작 의혹
https://invst.ly/s7402
[포토] 국민의힘, 네이버 검색조작 의혹 기자회견
https://invst.ly/s73-y
하이투자證, 40억 규모 ELS 2종 공모
https://invst.ly/s73y6
우리은행, 코로나·태풍 피해지원 '3차 바자회'
https://invst.ly/s73yb
바텍, 치신경 3차원 진단 프리미엄 CT 출시…
https://invst.ly/s73yg
신한은행, 광주지점 개점 100주년 기념식
https://invst.ly/s73y8
야스, 85억원 규모 디스플레이 제조 장비 공급계약 체결
https://invst.ly/s73y4
코스피 1%넘게 급락…2400대 붕괴
21페이지 완료
https://invst.ly/s73ui
차바이오텍, 면역세포 상품 '면역보험2020' 출시
https://invst.ly/s73ul
금감원, 고객비번 무단변경 우리銀에 과태료 60억 확정
https://invst.ly/s7401
KB증권, 해외선물 신규고객 대상 '나스닥 선물 수수료 할인 이벤트' 실시
https://invst.ly/s73uo
현대차 날고 LG화학 지고…시총 ‘톱10’ 경쟁 치열
https://invst.ly/s73ub
너도나도 회사 이름에 ‘솔루션’…전자공시 법인 294곳이 ‘솔루션’ 붙여
https://invst.ly/s73qb
카카오, 휴대용 AI스피커 ‘미니링크’ 출시
https://invst.ly/s73u9
코로나19 속 블랙 프라이데이는 어떨까
https://invst.ly/s73uh
금호타이어, 미래형타이어 2종 'IDEA 2020' 본상 수상
https://invst.ly/s73py
신한은행, 'My간편급여이체' 서비스 시행
https://invst.ly/s73mt
티웨이항공
https://invst.ly/s73q8
기업은행-자본재공제조합, 코로나19 위기 극복 관련 업무협약
https://invst.ly/s73qi
[특징주] 이아이디, 테슬라 배터리데이 앞두고 급등
https://invst.ly/s73je
현대차그룹, 28개월만에 시총 100조 회복
22페이지 완료
https://invst.ly/s73jm
기업은행, 기계산업 지원 위한 동반성장 업무협약
https://invst.ly/s73s8
금소원
https://invst.ly/s73hp
신한금융투자, 추석연휴에도 24시간 글로벌 데스크 운영
https://invst.ly/s73dw
배민, 자율주행 배달로봇 '딜리' 공개…
https://invst.ly/s73dt
KB증권, 해외선물 신규고객에 나스닥 선물 수수료 할인
https://invst.ly/s73dz
[S-금융 이슈] KB금융, 혁신 스타트업 21개사 선정外
https://invst.ly/s73d-
[기고문] 구글에 대한 반독점 규제가 겨냥해야할 것은
https://invst.ly/s73e0
LG화학 물적분할 환영한다면서…200억 매도한 증권·운용사들
https://invst.ly/s738c
피씨엘, 2000만원 규모 의료기기 공급계약 체결
https://invst.ly/s7373
위메이드 '미르4', 사전예약자 100만 돌파
https://invst.ly/s736-
멕아이씨에스, 45억규모 인공호흡기 공급계약 체결
https://invst.ly/s736x
코스피, 0.3% 내려 2400선…원/달러 환율 보합권
23페이지 완료
https://invst.ly/s7374
이트론, SK네트웍스서비스와 IoT·ICT 사업 관련 업무협약
https://invst.ly/s739l
기아차, 해외서 첫 독자 모빌리티 서비스 출시…딜러 통해 차 빌린다
https://invst.ly/s739j
‘추미애 검색결과 의혹’에…네이버 “데이터 집계 오류라 수정”
https://invst.ly/s7371
한화생명, '보험금 AI자동심사시스템 2건’기술특허 획득
https://invst.ly/s733r
바텍, 근관치료 진단 기능 탑재 프리미엄 CT 출시
https://invst.ly/s733f
윤창현 의원 정무위 활동 ‘이해충돌’ 공방
https://invst.ly/s72-o
BC카드, 페이북 맛집 방문 고객 대상 최대 60% 할인 행사
https://invst.ly/s733q
현대리바트, 상승 기류… 해외 법인이 발목
https://invst.ly/s72-r
한샘, 매출 2조 회복… 리하우스 실적 성장동력
https://invst.ly/s72-p
현대백화점, 추석 선물세트 행사장에 '방역 패트롤' 운영
https://invst.ly/s72x6
서울시
https://invst.ly/s72vp
삼성생명 '제40회 삼성생명 미술대회’ 개최
https://invst.ly/s72vk
한화생명 ‘보험금 AI 자동심사 시스템’ 특허청 기술특허 획득
24페이지 완료
https://invst.ly/s72n9
테슬라 배터리데이 D-1, 관전 포인트는?
https://invst.ly/s72n8
한화생명, '보험금 AI 자동심사 시스템' 기술특허 획득
https://invst.ly/s72na
삼성생명, '제40회 삼성생명 미술대회' 개최
https://invst.ly/s72vs
테슬라에 4조7000억원 배팅한 국내 투자자, 배터리데이에 '긴장'
https://invst.ly/s72jy

https://invst.ly/s72i3

https://invst.ly/s72n0
신한금투
https://invst.ly/s72gu
삼성전자, 웨어러블 보행 보조로봇 안전성 국제 표준 획득
https://invst.ly/s72g-
삼성전자 웨어러블 보행 보조 로봇, 국제 표준 최초 인증
https://invst.ly/s72gr
극적 합의說 도는 LG화학-SK이노베이션…“진전된 것 없다”
https://invst.ly/s72ef
현대건설 필리핀 남북철도 제1공구 수주
https://invst.ly/s72gv
DB금융투자, 다음달 30일까지 'ETF 드림' 이벤트
https://invst.ly/s72dj
신한금융투자
https://invst.ly/s72eh
김인규 하이트진로 사장의 아름다운 책임 경영
https://invst.ly/s72cv
[타볼레오]
25페이지 완료
https://invst.ly/s72cr
한미약품, 항암신약 '포지오티닙' 글로벌 임상 2상서 효과 확인
https://invst.ly/s72co
LG 사장단, 미국 '웹엑스'로 화상회의…구광모식 실용노선
https://invst.ly/s72cn
출격 준비 아이폰12, “6만원 이상 비싸질 듯”
https://invst.ly/s72bt
美 유통업계 '코로나 특수' 거품 꺼졌다
https://invst.ly/s72bs
기아차, 차량공유 서비스 글로벌로 확대…딜러가 차 빌려준다
https://invst.ly/s72bv

https://invst.ly/s72bp
‘기술탈취 100억 손배소’서 한화에 패소한 中企
https://invst.ly/s7294
[팀장칼럼] LG화학 사태 보면 사상 초유 규제법안 생기는 배경 납득된다
https://invst.ly/s72ah
우리은행, 코로나19·태풍 피해 농가 돕기 위해 임직원 바자회 개최
https://invst.ly/s728-

https://invst.ly/s727d
신한은행 광주지점 100주년...13번째 100년 지점 가입
https://invst.ly/s727c
정확하죠? ‘삼성전자’카메라모듈200억규모 투자확정! 종목은 여기!
https://invst.ly/s7298
40년 전통 '삼성생명 미술대회' 온택트 진행…디지털아트 부문 신설
https://invst.ly/s7297
한화생명 AI 자동심사 시스템…핵심기술 2건 특허 받았다
https://invst.ly/s727b
FC바르셀로나 맞먹는 빅히트, 메시 넘보는 BTS
https://invst.ly/s725j
[줌인] 끝나지 않은 '틱톡-오라클 딜' 관련 3대 의혹
26페이지 완료

https://invst.ly/s7279
락앤락, 유리 밀폐용기 기준 높인 ‘탑클라스’ 출시
https://invst.ly/s725i
[車談숲]'테슬라'가 될지 '테라노스'가 될지…혼돈의 '니콜라'
https://www.asiae.co.kr/article/2020092111141830499
롯데백화점 광주점, 아웃도어 ‘2020 F/W 상품’ 선봬
https://invst.ly/s7249
키움증권, ‘해외선물옵션 거래 이벤트’ 진행
https://invst.ly/s724h
KB금융, 하반기 KB스타터스 21개사 선발
https://invst.ly/s727g

https://invst.ly/s724i
[신상품] 삼성자산운용 '삼성 밀당 다람쥐 글로벌 EMP 펀드'
https://invst.ly/s724f
[트랜D]내가 주문한 물건, 드론이 집 앞에 갖다 논다는데….
https://invst.ly/s725e
역시 이유가 있었네! 삼성이 8조 5000억원 투자 핵심 반도체 >종목확인
https://invst.ly/s724a
바바리안모터스, BMW 마포 전시장 신규 오픈
https://invst.ly/s722g
기아차, 차량 공유 사업 본격 진출....딜러망서 차 빌려준다
https://invst.ly/s722h
기아차, 딜러 주도형 '기아모빌리티' 서비스 시작…이탈리아서 시범운영
https://invst.ly/s722k
미래에셋대우, 조기상환형 ELS 등 투자상품 6종 550억원 규모로 공모
https://invst.ly/s722j
신한금투
https://invst.ly/s7205
[이벤트] 키움증권 '해외선물옵션 거래시 최대 105만원 증정'
https://invst.ly/s7204
노키아, 글로벌 통신 SW 점유율 1위
https://invst.ly/s71zu
한화·SK 합작 국산화 성공 다이 본더, '장영실상' 선정
27페이지 완료
https://invst.ly/s71yq
삼성생명 ‘제40회 삼성생명 미술대회’ 개최_이상빈_20200921
https://invst.ly/s71yt
한화생명, '보험금 AI 자동심사 시스템' 특허청 기술특허
https://invst.ly/s71yv
LG화학, 물적 분할 논란에 5% 넘게 하락
https://invst.ly/s722f
삼성생명, 전국 초·중·고등, 대학생 대상 '제40회 삼성생명 미술대회' 개최
https://invst.ly/s720-

https://invst.ly/s71wm
LG전자, 휘센 CSR 캠페인으로 지역아동센터에 에어컨 30대 기부
https://invst.ly/s71wv
[단독] LG화학 물적분할 뒤 '매수'의견 낸 증권사들, 자기들은 매도
https://invst.ly/s71yw
나주시-한전KDN, ICT 건강관리 서비스 업무협약 체결
https://invst.ly/s71wo
현대건설, 총 6700억 규모 '필리핀 남북철도 제1공구' 공사 수주
https://invst.ly/s71xt
우리기술
https://invst.ly/s71vk
신한금투
https://invst.ly/s71vl
삼성자산운용, ‘삼성 밀당 다람쥐 글로벌 EMP 펀드’ 출시
https://invst.ly/s71vm
코스피, 하락 출발 후 2420선 등락 중… 외인·기관이 방어
https://invst.ly/s71xs
코로나19 신규 확진 70명…이틀 연속 두 자릿수(상보)
https://invst.ly/s71vt
인덴트코퍼레이션, '2020 비대면 비즈니스 챌린지' 대상
https://invst.ly/s71vj
우리기술 자회사 씨지오, 글로벌 투자사와 해상 풍력단지 설립 추진
https://invst.ly/s71vs
DB금융투자, ‘ETF 드림’ 이벤트 진행
28페이지 완료
https://invst.ly/s71vi
케이뱅크, NH투자증권 주식투자 고객에 최대 44달러 혜택
https://invst.ly/s71sr
SKT, 마크로젠과 '유전자 검사' 구독형 헬스케어 서비스 출시
https://invst.ly/s71su
삼성디스플레이, 폴더블 '20만회 테스트' 영상 유튜브 공개
https://invst.ly/s71vq
키움증권, '해외선물옵션 거래 이벤트' 진행
https://invst.ly/s71vu
삼성자산, 2040 직장인 맞춤 '삼성 밀당 다람쥐 글로벌 EMP 펀드' 출시
https://invst.ly/s71wx
디오스텍, 매각 위한 티저레터 공식 배포…11월 임시주총서 신규 경영진 선임
https://invst.ly/s71vr
경남제약 레모나, 한·중 소비자 선정 '2020 올해의 브랜드 대상' 수상
https://invst.ly/s71wu
키움증권, 해외선물옵션 거래 이벤트…최대 105만원 혜택
https://invst.ly/s71vo
우정바이오, 미래의학연구재단과 MOU 체결
https://invst.ly/s71t2
신한은행, 광주지점 개점 100주년 기념식 시행
https://invst.ly/s71s-
KCC글라스-KAC, 추석 전 협력사 대금 조기 지급
https://invst.ly/s71sy
티웨이항공, 항공권 예약 승객에 '왓챠' 10일 무료이용권
https://invst.ly/s71rt
디오스텍, 잠재적 원매자에 '티저레터' 배포...11월 임총서 경영진 선임
https://invst.ly/s71sp
메디포스트, '카티스템' 日 임상 2상 착수
https://invst.ly/s71pw
[이벤트] KB증권 '나스닥 선물 수수료 할인'
https://invst.ly/s71q2
[이벤트] NH투자증권 '케이뱅크와 손잡고 투자 지원금 제공'
https://invst.ly/s71q4
코스피, 외국인·기관 매수에 상승세···2420선
29페이지 완료
https://invst.ly/s71qf
탈모 치료용 'LG 프라엘 메디헤어' 모발 밀도·굵기 개선 효과
https://invst.ly/s71qh
SKT, 영상통화 미더스 기반 ‘양방향 원격수업 서비스’ 개발
https://invst.ly/s71qr
한국타이어, 다음달 4일까지 하반기 신입사원 모집
https://invst.ly/s71qp
디오스텍, 매각위한 투자안내서 배포… 11월 임총서 신규 경영진 선임
https://invst.ly/s71qm
LG전자, 휘센 CSR 캠페인 결과로 지역아동센터에 에어컨 30대 기부
https://invst.ly/s71qj
BTS 가사 들린다는 文, 김근식
https://invst.ly/s71qe
경남제약 레모나, 한·중 소비자가 선택한 ‘2020 올해의 브랜드 대상’ 수상
https://invst.ly/s71ok

https://invst.ly/s71qa
LG 탈모치료기 연내 출시
https://invst.ly/s71q6
DS 오토모빌, 브랜드 첫 순수전기차 'DS 3 크로스백 E-텐스' 출시
https://invst.ly/s71pz
대웅제약
https://invst.ly/s71om
키움증권, '해외선물옵션 거래 이벤트'
https://invst.ly/s71on
대림산업, 사우디 암모니아 생산 공장 '이산화탄소 제거 설비' 설치
https://invst.ly/s71oo
KT, 카자흐스탄 ‘디지털 헬스케어’ 시장 진출
https://invst.ly/s71ol
[특징주] 도화엔지니어링, 태양광사업 수주 소식에 급등
https://invst.ly/s71os
[특징주] 웰크론한텍, 2차전지 핵심원료 추출 설비 부각에 ‘강세’
https://invst.ly/s71oj
유진투자증권, 멀티리자드형 스텝다운 ELS 공모…20억원규모
30페이지 완료
https://invst.ly/s71oi
[특징주] LG화학, 배터리 물적분할 여파 지속…3%대 하락
https://invst.ly/s71oq
롯데건설 ‘신동탄 롯데캐슬 나노시티’ 내일(22일)부터 정당계약
https://invst.ly/s71m4
교보라이프-카카오페이, '내 보험 관리' 누적 이용자 100만 돌파
https://invst.ly/s71ma
LG유플러스, 명절 연휴 앞두고 고속도로·휴게소 등 통신설비 점검
https://invst.ly/s71mb
NH투자증권, 케이뱅크 증권계좌개설 이벤트 실시
https://invst.ly/s71l2
KT, 수원서 공유자전거 서비스 '타조' 시작...
https://invst.ly/s71l5
LIG넥스원, 골키퍼 창정비·체계통합 역량 최초 확보
https://invst.ly/s71l8
넥센타이어, 美 전기차 '카누'에 신차용 타이어 공급
https://invst.ly/s71lz
[특징주] 세중, 거래재개 첫날 '하락'
https://invst.ly/s71l7
교보라이프플래닛-카카오페이, '내 보험 관리' 누적 이용자 100만명 돌파
https://invst.ly/s71l4
필로시스, 코로나19 진단키트 3종 CE-IVD 인증 획득
https://invst.ly/s71md
[포토] 소폭 상승 출발한 코스피
https://invst.ly/s71mc
[포토] 오르락 내리락 보합세 보이는 코스피
https://invst.ly/s71m9
[포토] 코스피, 보합권 출발
https://invst.ly/s71m3
[포토] 약보합세 보이는 코스피
https://invst.ly/s71jn
KT&G, 2020년 신입·경력사원 공채
https://invst.ly/s71jt
LG유플러스, 'IPTV 초고화질 VOD' 1400편으로 확대
31페이지 완료
https://invst.ly/s71lw
[특징주]'테슬라 배터리 데이' 앞둔 천보, 증권가 호평 속 52주 신고가
https://invst.ly/s71ot

https://invst.ly/s71jv
우리은행, 코로나19·태풍 피해 농가 돕기 직원 참여 바자회
https://invst.ly/s71m0
‘비대면 일상’ 떠받치는 필수 노동자…“걸맞은 대우와 지원을”
https://invst.ly/s71k0
카카오엔터프라이즈, AI 음성인식 컨트롤러 선보여
https://invst.ly/s71jy
우리기술, 글로벌 투자사·씨지오 컨소시엄 지자체 대규모 해상풍력 단지 추진
https://invst.ly/s71qc
NH투자-케이뱅크, 투자 지원금 제공 이벤트
https://invst.ly/s71jw
유진투자證, 멀티리자드형 스텝다운 ELS 공모
https://invst.ly/s71l6
로보링크 미국 법인, 글로벌 실시간 AI 교육 실시
https://invst.ly/s71jk
[특징주] LG화학, 물적분할 논란지속...4% 가까이 하락
https://invst.ly/s71hi
[특징주] 비비씨, 코스닥 상장 첫날 하락세
https://invst.ly/s71hm
비비씨, 코스닥 상장 첫 날 공모가 밑돌며 약세
https://invst.ly/s71js
힐튼부산, '아난티 힐튼'으로 재탄생…아난티 고유 가치 더한다
https://invst.ly/s71jr
BYC, 실내복 겸한 '아린 내복' 출시
https://invst.ly/s71jx
코스피, 2410선 공방…외국인·기관 매수 전환
https://invst.ly/s71hs
웅진씽크빅, '스마트올 통합 영어' 출시
https://invst.ly/s71it
은평구 ‘지식혁신 스마트시티 대상’ 최우수상 수상
32페이지 완료
https://invst.ly/s71fv
[특징주] 도화엔지니어링, 433억 규모 태양광사업 계약에 급등
https://invst.ly/s71fz

https://invst.ly/s71g5
[클릭 e종목]
https://invst.ly/s71g2
[특징주]비비씨, 코스닥 시장 상장 첫날 약세… 공모가 하회
https://invst.ly/s71f-
태광산업, 추석 전 협력사 물품대금 조기지급
https://invst.ly/s71fy

https://invst.ly/s71fu
9월 1~20일 수출 3.6% 증가…반년 만에 플러스 전환(상보)
https://invst.ly/s71hq
[특징주] 비비씨, 코스닥 상장 첫날 약세…공모가 밑돌아
https://invst.ly/s71g8

https://invst.ly/s71g7
[특징주] 세중, 한달여 만에 거래재개 후 약세
https://invst.ly/s71fs
[특징주] 비비씨, 코스닥 상장 첫 날 약세...공모가도 하회
https://invst.ly/s71dw
지상파 편법 중간광고 4년간 43배 ‘폭증’... 방통위는 수수방관
https://invst.ly/s71e1
KT&G, 2020년 신입·경력사원 공개 채용 실시
https://invst.ly/s71g6
[특징주] 동아쏘시오홀딩스, 코로나19 백신 물류 수혜 기대감에 강세
https://invst.ly/s71d-
신원, 온라인 편집숍 진출(종합)
https://invst.ly/s71dz
금호타이어, IDEA 2020 디자인상 운송기기 부문 본상 수상
https://invst.ly/s71g4
[특징주] 유한양행·오스코텍, ESMO서 긍정적 레이저티닙 데이터 발표해 강세
33페이지 완료
https://invst.ly/s71dx
GS25, 스마트 업무지원 앱 '근무중25' 첫 선
https://invst.ly/s71ds
유유제약, 충북 제천시에 수재의연금 기부
https://invst.ly/s71dv
LG유플러스, U+tv 초고화질 VOD 1400편으로 2배 확대
https://invst.ly/s71g3
[특징주] 신일제약, '덱사메타손' 코로나19 산소치료로 사용 가능 소식에 강세
https://invst.ly/s71d8
[코스피 개장] 0.04P(0%) 오른 2412.44
https://invst.ly/s71d9
[코스닥 개장] 1.06P(0.12%) 오른 889.94
https://invst.ly/s71c6
코스피·코스닥, 美 정책 불확실성에 소폭 상승 출발
https://invst.ly/s71c5

https://invst.ly/s71g1
[특징주] 기가레인, 증권가 실적 반등 전망에 강세
https://invst.ly/s71e0
[Hot-Line]
https://invst.ly/s71bf

https://invst.ly/s71d3
KB금융, 스타트업 육성 확대…하반기 스타터스 기업 21개사 최종 선정
https://invst.ly/s71ca
KB금융, 'KB스타터스' 21개 지원 스타트업 선정
https://invst.ly/s71c9
[그래프로 보는 세계]세계 태블릿 시장에서 삼성 2위
https://invst.ly/s71bc
LGU+ 추석연휴 네트워크 관리 '만전'
https://invst.ly/s71b8
테슬라 배터리데이 D-1…
https://invst.ly/s719z
유진투자증권, 20억원 규모 멀티리자드형 스텝다운 ELS 공모
34페이지 완료
https://invst.ly/s71bb
신원, 온라인 편집숍 진출…'쑈윈도' 오픈
https://invst.ly/s71ba
한샘 '홈택트 가구의 모든 것'…하반기 신상품 15종 출시
https://invst.ly/s718-

https://invst.ly/s7190
[주간증시전망] 숨고르기 장세···한국판 뉴딜·기술株 주목
https://invst.ly/s717z
추미애 '포털 통제' 의혹 제기…네이버
https://invst.ly/s717y
현대차, WRC 연속 더블 포디움…제조사 종합 순위 2위 유지
https://invst.ly/s7191
맥도날드, “해외에서 맛보던 타로 파이, 한국에서 즐기세요”
https://invst.ly/s7171

https://invst.ly/s717d
하이트진로, 필라이트 4번째 신제품 출시…이번에는 레몬맛
https://invst.ly/s717a
추석음식, 가족과 함께 ‘CJ제일제당 가정간편식’으로 즐겨보세요
https://invst.ly/s717b
[Hot-Line]
https://invst.ly/s715g
'추미애' 검색결과 의혹에 네이버
https://invst.ly/s7176
'코로나에 미술대회도 온택트로 연다' 40회 맞는 삼성생명 미술대회
https://invst.ly/s716f
영풍, 자산가치 대비 저평가-키움증권
https://invst.ly/s715m
한화정밀기계·SK하이닉스, 반도체 장비 '다이본더' 국산화 성공
https://invst.ly/s715k
홍남기
https://invst.ly/s716e
SK렌터카, 유상증자로 주주가치 희석 불가피…목표가 13%↓-현대차증권
35페이지 완료
https://invst.ly/s7172
미 법원 “위챗 사용 금지는 개인 권리 침해”…트럼프에 제동
https://invst.ly/s715o
[Hot-Line] “SK텔레콤, 원스토어 등 자회사 가치 20조원 이상
https://invst.ly/s715n
[Hot-Line]
https://invst.ly/s715l
[Hot-Line]
https://invst.ly/s714t
[클릭 e종목] 기아차, 인도서 기지개…中시장 부진 상쇄 전망
https://invst.ly/s714s
페이스북, 거짓정보 확산 방지 커뮤니티 정책 강화
https://invst.ly/s714p
왜 추미애만 달라? 의아했던 포털검색...네이버
https://invst.ly/s713a
삼성디스플레이, 7가지 폴더블 디스플레이 기술·장점 소개
https://invst.ly/s7139
위메프, '브랜드데이' 진행…삼성전자·소니 등 최대 58% 할인
https://invst.ly/s712p
SK증권: 컴투스·LG전자·디케이락
https://invst.ly/s712o
SKT, 자회사 '원스토어' 가치 20조원 이상-유안타證
https://invst.ly/s7121
[클릭 e종목]“넥센타이어, 가동률 회복 속 미국 반덤핑 대응 고심”
https://invst.ly/s7120
SKT, '미더스' 기반 양방향 원격수업 서비스 개발
https://invst.ly/s712q
중앙일보 후원 ‘2020 올해의 우수브랜드 대상 1위’ 후보 공모
https://invst.ly/s70-x
[클릭 e종목]
https://invst.ly/s70zd
美 법원, 트럼프 '위챗 사용금지' 제동…
https://invst.ly/s70zk
[클릭 e종목]
36페이지 완료

https://invst.ly/s70zi
구로구, SNS·유튜브 마케터 양성 사회적경제기업 돕는다
https://invst.ly/s70zg
소니 차세대 콘솔 'PS5' 매진에…선택적 노재팬?
https://invst.ly/s70ye
SK텔레콤, 자회사 가치 최소 20조 이상-유안타
https://invst.ly/s70yg
[클릭 e종목]
https://invst.ly/s70wc
문 대통령에 선물 전한 BTS의 빅히트 따상 따상상 갈까
https://invst.ly/s70wf
[e공시 눈에 띄네]코스피-18일
https://invst.ly/s70wh
“BTS 지민이 먹던 빨간 음식 뭐지?”…K팝 열풍 타고 佛 ‘떡볶이’ 수출 25%↑
https://invst.ly/s70v6
청량리 전통시장서 대형 화재 … 소방대응 2단계 발령(상보)
https://invst.ly/s70v4
[e공시 눈에 띄네]코스닥-18일
https://invst.ly/s70tg
양천구, 장애인전용주차구역 IOT 무인단속
https://invst.ly/s70ub
광진구 캐릭터 광이·진이 ‘우리동네 캐릭터 대상’ 본선 진출
https://invst.ly/s70sf
현대건설, '한국형 도심항공교통(K-UAM) 시험비행 실증사업' MOU
https://invst.ly/s70sa
동학개미 울리는 LG화학·대림산업…같은 듯 다른 물적분할
https://invst.ly/s70s6
글로벌 패션 기업 한세실업의 도전
https://invst.ly/s70nq
메시도 울고 갈 BTS 몸값…멤버 한 명당 시장가치 5200억원
https://invst.ly/s70n2
드디어 ‘BTS’ 빅히트가 온다…24~25일 기관수요예측 IPO 절차 돌입
https://invst.ly/s70la
니키 카로 ‘뮬란’ 감독 “여성 제작진 대거 합류해 다양성 가치 표현”
37페이지 완료
https://invst.ly/s70lc
“인류를 더 나은 미래로 인도하는 캐릭터 만들고파”
https://invst.ly/s70kg
코로나에 부러진 '필립스곡선'… 한은, 고용안정에 무게 싣나
https://invst.ly/s70kk
[스마트클라우드⋅인터뷰] 구글 자율주행차의 아버지
https://invst.ly/s70jn
돌돌마는 LG ‘롤러블폰’ 내년에 만날 수 있을까
https://invst.ly/s70ba
美 법원
https://invst.ly/s7091
집적도는 가라…AI 연산능력, 반도체 성능의 새 가늠자로
https://invst.ly/s6-iy
“모든 종류 전기료 단계적 인상해야”… 한전 용역보고서, 할인 중단 등 제시
https://invst.ly/s6-iv
현대차 수소전기트럭 中서 기술혁신상
https://invst.ly/s6-iu
LG전자, 64개 협력사 스마트 팩토리-디지털 전환 지원
https://invst.ly/s6-it
한국 온 윈터스 SC회장 ‘K핀테크’ 열공
https://invst.ly/s6-is
“원스토어 성장성 입증” SK텔레콤 자회사 첫 상장 추진
https://invst.ly/s6-ir
LG유플러스, DS전기차 새 모델에 21일부터 커넥티드카 서비스
https://invst.ly/s6-iq
한국형 도심항공교통, 현대차-KT 등 손잡아
https://invst.ly/s6-ip
코로나로 온라인 쇼핑 급격히 늘자… 짝퉁거래도 70% 뛰었다
https://invst.ly/s6-hc
‘세계 알츠하이머의 날’ 맞아 삼성, 연구진 모습 영상공개
38페이지 완료
https://invst.ly/s6y-t
반·디·폰 ‘펜트업 효과’…3분기 예상초월 깜짝쇼
https://invst.ly/s6y-s
이 옷도 화장품도 매장엔 없어요, 온라인에서만 팔아요
https://invst.ly/s6y-o
88세 현역 회장님 “제품 개발, 브랜드 관리 할 일 많아요”
https://invst.ly/s6y-m
[경제 브리핑] ‘비번 무단변경’ 우리은행 과태료 60억
https://invst.ly/s6yyu
틱톡, 오라클·월마트와 새 회사 설립…트럼프 “환상적인 합의” 원칙적 승인
https://invst.ly/s6yp6
美 법원,
https://invst.ly/s6xpb
기아차 소하리 공장 21일 오전까지 가동 중단
39페이지 완료
40페이지 완료
https://invst.ly/s6wjy

https://invst.ly/s6wg4
잇따른 수출낭보…에스티팜 두달새 45% ↑
https://invst.ly/s6wbf
교보생명, '악사손보' 되찾을까…신한·카카오 불참에 흥행 '실패'
https://invst.ly/s6wbe
SK이노베이션, 사회안전망 전용몰서 추석 선물 구매
https://invst.ly/s6wbc
현대차證 '자기자본 1조'…대형증권사로 성큼
https://invst.ly/s6w7g
靑, 아이유 이어 BTS 소환…
https://invst.ly/s6w7f
비행기에서도 조용하다…소니 'WH-1000XM4' 써보니
https://invst.ly/s6w3b

41페이지 완료
https://invst.ly/s6vro
세아제강지주, 영국 현지에 해상풍력 구조물 공장 짓는다
https://invst.ly/s6vqc
[주간HOT종목] 현대모비스, 4분기 기대감↑…외국인 순매수세
https://invst.ly/s6vqa
오늘도 정시 출근한 88세 현역 회장님, 이금기 일동후디스 회장
https://invst.ly/s6vlz
광주신세계, 전남 7대 명인 추석 기프트 상품전 개최
https://invst.ly/s6vm1
'고객 비번 무단변경' 우리은행, 직원 무더기 제재는 피했다
https://invst.ly/s6vm0
허창수 전경련 회장, 스가 총리 축하 서한
https://invst.ly/s6vo0
틱톡 1억명 데이터가 탐났다, 오라클·월마트 합작법인 성공
https://invst.ly/s6vkk
틱톡, 오라클-월마트와 새 회사 설립… 데이터+유통망의 결합
42페이지 완료
https://invst.ly/s6vkg
[보험 인싸되기]자율주행차 보험 등장…AI '운전미숙' 판단할까?
https://invst.ly/s6vdo
골드만삭스
https://invst.ly/s6v7x
靑 찾은 BTS…
https://invst.ly/s6v5n
허은아, 탁현민 비판
https://invst.ly/s6v4j

https://invst.ly/s6v3p
'코로나 쇼크' 6개월…코스피 65%·코스닥 107% 올랐다
https://invst.ly/s6v2k
정 총리
https://invst.ly/s6uwk
“과기부 25개 출연연구기관 책임급 여성비율, 남성의 10%”
https://invst.ly/s6usq
한화생명 '보험월렛' 1년 만에 66만명 가입
https://invst.ly/s6usr
SKT, 200개국 로밍 고객에 현지 긴급 재난문자 제공
https://invst.ly/s6urn
KT 구현모, 글로벌 감염병 공동 대응체계 구축 제한
https://invst.ly/s6urt
휠라코리아, ‘휠라 가족사랑 스튜디오’ 행사
https://invst.ly/s6upu
삼성전자, '알츠하이머의 날' 맞아 연구자들 소개 영상 공개
43페이지 완료
https://invst.ly/s6upr
현대차, KT·인국공·현대건설과 UAM 협력 나서
https://invst.ly/s6uo-
말씀드렸죠? 삼성이 8조 5000억원 투자 핵심 반도체  > 종목확인
https://invst.ly/s6unj
현대차·KT 등 4총사, 도심항공교통 시대 연다…2022년 시험비행 준비
https://invst.ly/s6uhk
SBS 8뉴스, 1·2부로 나누고 내일부터 편법 중간광고…신문협회
https://invst.ly/s6uie
도심항공시대 한발짝 더…현대차·KT 등 '한국형 UAM'에 맞손
https://invst.ly/s6ugu
현대차 수소트럭, 中서 기술혁신상 수상…“외국 업체 중 유일”
https://invst.ly/s6ugv
현대차, 추석 전 협력사에 납품대금 1조1087억원 조기 지급
https://invst.ly/s6ues
트럼프, 틱톡 흔들어 美에 선물보따리 안겼다
https://invst.ly/s6u89
LG유플러스, 푸조ㆍDS 차량에 커넥티드카 기술 탑재한다
https://invst.ly/s6u7u
BTS가 보라색 상자에 넣은 '2039년 선물'…탁현민
https://invst.ly/s6u69
양희영, LPGA 포틀랜드 클래식 2R 공동 3위…선두 리드에 3타 차
https://invst.ly/s6u2g
“뇌도 막힌다, 뚫어야 산다”… 삼성, 알츠하이머 지원 교수진 영상 공개
https://invst.ly/s6u2h
양희영 3타 차 공동 3위
https://invst.ly/s6u1o
재택근무로 성장하는 '온라인 수혜주'
https://invst.ly/s6u1k
중기중앙회, '롯데백화점 드림플라자' 입점 품평회
44페이지 완료
https://invst.ly/s6u1j
카카오뱅크·토스 ICT금융株 '맑음', 금융지주株 '흐림'
https://invst.ly/s6u1i
연말 공포장 올라...커지는 대주주 요건 강화 반대 목소리
https://invst.ly/s6tyu
허창수 전경련 회장, 日 스가 총리에 서한…“한일관계 발전 기대”
https://invst.ly/s6tyv

https://invst.ly/s6t-8
'BTS' '기생충' 효과…상반기 저작권 무역수지, 역대 최고 1조2000억 흑자
https://invst.ly/s6tyw
국회입법조사처
https://invst.ly/s6ty7
서울 어제 확진자 28명대로 감소 … 8월 대확산 이후 최저(상보)
https://invst.ly/s6ty6
트럼프
https://invst.ly/s6tx6
구현모 KT 대표
https://invst.ly/s6tw1
허창수
https://invst.ly/s6tw0
'알츠하이머 정복 초석 쌓기'…삼성전자, 학계 적극 지원
https://invst.ly/s6tv-

https://invst.ly/s6tvb
틱톡-오러클-월마트 새 회사 설립 합의…트럼프 “환상적”
https://invst.ly/s6tud
SKT, 200개국 현지 긴급 재난문자 알림 서비스 개시
https://invst.ly/s6tup
현대차 수소전기트럭, 中서 '기술혁신상' 수상
https://invst.ly/s6tuf
[포토]현대백화점
https://invst.ly/s6ttc
KT 구현모, 국제 통신위원회서 “글로벌 감염병 공동 대응체계 구축” 제안
45페이지 완료
https://invst.ly/s6tte
현대홈쇼핑, 추석 선물세트 '라이브방송'으로 판매
https://invst.ly/s6tsu
국내 푸조·DS 프랑스車에 LGU+ 커넥티드카 기술 적용
https://invst.ly/s6tsv
현대건설, 현대차·인천공항공사·KT와 도심항공교통 개발 MOU 체결
https://invst.ly/s6ttd
신세계면세점, 추석 맞아 할인에 추가 할인… 최고 64%↓
https://invst.ly/s6tsx
하이트진로, 해수부와 함께 청정바다 가꾼다…국내 첫 시범사업
https://invst.ly/s6ttb
자녀들에게 의견 물어온 법원…한국타이어 차녀는 어떤 대답 할까
https://invst.ly/s6tsw
롯데온, 'LF 패밀리 추석선물 대전' 개최…최대 40% 할인
https://invst.ly/s6try
LG전자 “협력사 디지털전환 지원… 자동화율·생산량 늘고 불량률 줄고”
https://invst.ly/s6tr-
현대백화점, 추석 선물에 ‘드라이브 스루 픽업 서비스' 운영
https://invst.ly/s6trz
현대차, 인천공항공사·KT와 '한국형 UAM' 협력…시험비행 실증
https://invst.ly/s6tq1
LG유플-구글클라우드 5G 핵심기술 협력
https://invst.ly/s6tq3
롯데백화점, 추석선물세트 매출 41% 증가
https://invst.ly/s6tq7
틱톡, 美 앱스토어 삭제 일주일 연기…위챗은 20일부터 사라져
https://invst.ly/s6tq8
롯데온
https://invst.ly/s6tq9
삼성 중고폰 거래량·가격 모두 ↑… 평균가 10만원대 넘어서
https://invst.ly/s6tqe
한화생명, 보험월렛 앱 1년 만에 66만명 가입
https://invst.ly/s6tqj
출시 1주년 한화생명 '보험월렛', 연말 회원 100만명 확대
46페이지 완료
https://invst.ly/s6tqi
한화생명, 보험앱 '보험월렛' 출시 1년 만에 회원 66만명 넘어
https://invst.ly/s6tqb
LG전자, 협력사 스마트 팩토리·디지털 전환 본격 성과
https://invst.ly/s6tq6
법무부 인권 TF
https://invst.ly/s6tpc
추석 고가 와인 매출 200% 신장…이마트, '명가와인' 한정 판매
https://invst.ly/s6tpb
현대차그룹, 추석 전 협력사 납품대급 1조1087억원 조기 지급
https://invst.ly/s6tnf
현대차
https://invst.ly/s6tm4
‘카카오 코로나 백서’ 발간… “카톡·AI·카맵 서비스 이용량 늘었다”
https://invst.ly/s6tm5
SKT
https://invst.ly/s6tls
현대차 “추석 전 협력사에 납품대금 1조1000억원 조기 지급”
https://invst.ly/s6tk-
LG유플러스, 프랑스車 푸조·DS에 커넥티드카 기술 도입
https://invst.ly/s6tjm
손태승
https://invst.ly/s6tjk
'디지털' 선봉 나선 손태승 우리금융 회장
https://invst.ly/s6tjh
LGU+, 구글 클라우드와 5G MEC 협력 맞손
https://invst.ly/s6thn
용건은 '카톡', 축의금은 '카페'…코로나에 카카오 이용량 급증
https://invst.ly/s6thp
코로나에 OLED 발광재료 시장 30% 감소
https://invst.ly/s6tho
‘돌돌 마는’ 롤러블폰, 내년에 될까?…디스플레이 업계에 물었다
https://invst.ly/s6tg8
경북도 제1회 청년웹툰 공모전 '대상'은 박현욱씨 '층간소음'
47페이지 완료

KeyboardInterrupt:

### investpy module practice

In [1]:
import investpy

In [2]:
# Retrieve all the available stocks as a Python list
stocks = investpy.get_stocks_list()

In [6]:
len(stocks)

39952

In [9]:
# Retrieve the recent historical data (past month) of a stock as a pandas.DataFrame on ascending date order
df = investpy.get_stock_recent_data(stock='bbva', country='spain', as_json=False, order='ascending')
df.head()

             Open   High    Low  Close    Volume Currency
Date
2020-08-24  2.453  2.484  2.415  2.484  15737400      EUR
2020-08-25  2.510  2.584  2.503  2.505  28033600      EUR
2020-08-26  2.491  2.570  2.480  2.541  26362800      EUR
2020-08-27  2.525  2.545  2.466  2.534  18903100      EUR
2020-08-28  2.557  2.629  2.546  2.600  25572600      EUR

In [13]:
# Retrieve the recent historical data (past month) of a stock as a pandas.DataFrame on ascending date order
df = investpy.get_stock_recent_data(stock='aapl', country='United States', as_json=False, order='ascending')
df.head()

              Open    High     Low   Close     Volume Currency
Date
2020-08-24  128.70  128.79  123.94  125.86  345937984      USD
2020-08-25  124.70  125.18  123.05  124.82  211496000      USD
2020-08-26  126.18  126.99  125.08  126.52  163022000      USD
2020-08-27  127.14  127.49  123.83  125.01  155552000      USD
2020-08-28  126.01  126.44  124.58  124.81  187630000      USD

In [14]:
# Retrieve the company profile of the introduced stock on english
profile = investpy.get_stock_company_profile(stock='bbva', country='spain', language='english')
profile

{'url': 'https://www.investing.com/equities/bbva-company-profile',
 'desc': 'Banco Bilbao Vizcaya Argentaria, S.A. (BBVA) is a Spain - based bank. It is a diversified financial company engaged in retail banking, wholesale banking, asset management and private banking. Its segments are: Spain, the United States, Turkey, Mexico, South America and Rest of Eurasia. The activities in Spain are banking activity and Insurance. In the United States it offers services through, BBVA USA and the BBVA New York branch. The Turkey segment is represented by the group Garanti BBVA, an integrated financial services group, that also operate in Holland and Romania. The Mexico segment activities include banking and insurance businesses. In South America, it provides banking and insurance businesses. The Rest of Eurasia segment includes business activity in the rest of Europe and Asia'}

In [18]:
df = investpy.get_stock_historical_data(stock='aapl',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='22/09/2020')

In [19]:
df

              Open    High     Low   Close     Volume Currency
Date
2010-01-04    7.62    7.66    7.58    7.64  493728704      USD
2010-01-05    7.66    7.70    7.62    7.66  601904640      USD
2010-01-06    7.66    7.69    7.53    7.53  552158912      USD
2010-01-07    7.56    7.57    7.47    7.52  477129760      USD
2010-01-08    7.51    7.57    7.47    7.57  447876768      USD
...            ...     ...     ...     ...        ...      ...
2020-09-15  118.52  118.52  113.64  115.54  184642032      USD
2020-09-16  115.20  115.94  112.08  112.13  155026672      USD
2020-09-17  109.41  112.18  108.80  110.34  178010976      USD
2020-09-18  110.40  110.88  106.09  106.84  287104992      USD
2020-09-21  104.34  110.12  103.50  110.08  195713808      USD

[2699 rows x 6 columns]

In [22]:
df = investpy.get_stock_historical_data(stock='mmm',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='22/09/2020')

In [24]:
df.sort_values(by='Open', ascending=False)

              Open    High     Low   Close   Volume Currency
Date
2018-01-29  258.51  259.34  255.97  256.01  2306292      USD
2018-01-30  255.60  255.69  251.41  251.54  2412632      USD
2018-01-26  253.43  259.77  253.39  258.63  3730628      USD
2018-01-31  251.49  253.13  249.60  250.50  3136406      USD
2018-01-25  250.00  254.80  247.10  252.36  3507873      USD
...            ...     ...     ...     ...      ...      ...
2011-10-06   72.72   74.69   72.00   74.65  4835766      USD
2011-09-23   72.64   74.33   72.34   73.99  4583749      USD
2011-10-05   71.74   72.84   71.01   72.53  5468927      USD
2011-10-03   71.13   73.24   70.93   70.93  7619527      USD
2011-10-04   70.13   72.18   68.63   72.01  8689888      USD

[2698 rows x 6 columns]

In [27]:
data = investpy.economic_calendar()
data.head(10)

,id,date,time,zone,currency,importance,event,actual,forecast,previous
0,88,22/09/2020,All Day,japan,None,None,Japan - Autumn Equinox,None,None,None
1,173,22/09/2020,All Day,bulgaria,None,None,Bulgaria - Independence Day,None,None,None
2,414703,22/09/2020,00:30,united states,USD,low,3-Month Bill Auction,0.100%,None,0.110%
3,414704,22/09/2020,00:30,united states,USD,low,6-Month Bill Auction,0.105%,None,0.120%
4,415019,22/09/2020,01:00,united states,USD,medium,FOMC Member Brainard Speaks,None,None,None
5,413510,22/09/2020,06:00,south korea,KRW,low,PPI (MoM) (Aug),0.5%,-0.9%,0.2%
6,413509,22/09/2020,06:00,south korea,KRW,low,PPI (YoY) (Aug),-0.5%,None,-0.8%
7,415158,22/09/2020,07:00,united states,USD,medium,FOMC Member Kaplan Speaks,None,None,None
8,414966,22/09/2020,07:00,united states,USD,medium,FOMC Member Williams Speaks,None,None,None
9,414934,22/09/2020,09:30,australia,AUD,medium,RBA Assist Gov Debelle Speaks,None,None,None

In [6]:
df = investpy.get_stock_historical_data(stock='035720',
                                        country='south korea',
                                        from_date='01/01/1900',
                                        to_date='23/09/2020')

In [7]:
df

                Open      High       Low     Close  Volume Currency
Date
2014-03-14   69700.0   77200.0   69500.0   76500.0  531434      KRW
2014-03-17   76000.0   77500.0   74800.0   76000.0  194075      KRW
2014-03-18   76200.0   76600.0   75000.0   76100.0  122992      KRW
2014-03-19   76600.0   80200.0   75400.0   79800.0  274819      KRW
2014-03-20   79000.0   80200.0   77600.0   79800.0  128509      KRW
...              ...       ...       ...       ...     ...      ...
2020-09-18  369000.0  377000.0  366000.0  373000.0  488767      KRW
2020-09-20  373000.0  373000.0  373000.0  373000.0       0      KRW
2020-09-21  371500.0  373000.0  364000.0  364500.0     573      KRW
2020-09-22  361500.0  369000.0  351500.0  353000.0      38      KRW
2020-09-23  358500.0  367000.0  353000.0  365500.0  913110      KRW

[1808 rows x 6 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1808 entries, 2014-03-14 to 2020-09-23
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Open      1808 non-null   float64
 1   High      1808 non-null   float64
 2   Low       1808 non-null   float64
 3   Close     1808 non-null   float64
 4   Volume    1808 non-null   int64
 5   Currency  1808 non-null   object
dtypes: float64(4), int64(1), object(1)
memory usage: 91.8+ KB

In [11]:
list(df.index)

[Timestamp('2014-03-14 00:00:00'),
 Timestamp('2014-03-17 00:00:00'),
 Timestamp('2014-03-18 00:00:00'),
 Timestamp('2014-03-19 00:00:00'),
 Timestamp('2014-03-20 00:00:00'),
 Timestamp('2014-03-21 00:00:00'),
 Timestamp('2014-03-24 00:00:00'),
 Timestamp('2014-03-25 00:00:00'),
 Timestamp('2014-03-26 00:00:00'),
 Timestamp('2014-03-27 00:00:00'),
 Timestamp('2014-03-28 00:00:00'),
 Timestamp('2014-03-31 00:00:00'),
 Timestamp('2014-04-01 00:00:00'),
 Timestamp('2014-04-02 00:00:00'),
 Timestamp('2014-04-03 00:00:00'),
 Timestamp('2014-04-04 00:00:00'),
 Timestamp('2014-04-07 00:00:00'),
 Timestamp('2014-04-08 00:00:00'),
 Timestamp('2014-04-09 00:00:00'),
 Timestamp('2014-04-10 00:00:00'),
 Timestamp('2014-04-11 00:00:00'),
 Timestamp('2014-04-14 00:00:00'),
 Timestamp('2014-04-15 00:00:00'),
 Timestamp('2014-04-16 00:00:00'),
 Timestamp('2014-04-17 00:00:00'),
 Timestamp('2014-04-18 00:00:00'),
 Timestamp('2014-04-21 00:00:00'),
 Timestamp('2014-04-22 00:00:00'),
 Timestamp('2014-04-23 00:00:00'),
 Timestamp('2014-04-24 00:00:00'),
 Timestamp('2014-04-25 00:00:00'),
 Timestamp('2014-04-28 00:00:00'),
 Timestamp('2014-04-29 00:00:00'),
 Timestamp('2014-04-30 00:00:00'),
 Timestamp('2014-05-02 00:00:00'),
 Timestamp('2014-05-07 00:00:00'),
 Timestamp('2014-05-08 00:00:00'),
 Timestamp('2014-05-09 00:00:00'),
 Timestamp('2014-05-12 00:00:00'),
 Timestamp('2014-05-13 00:00:00'),
 Timestamp('2014-05-14 00:00:00'),
 Timestamp('2014-05-15 00:00:00'),
 Timestamp('2014-05-16 00:00:00'),
 Timestamp('2014-05-19 00:00:00'),
 Timestamp('2014-05-20 00:00:00'),
 Timestamp('2014-05-21 00:00:00'),
 Timestamp('2014-05-22 00:00:00'),
 Timestamp('2014-05-23 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2014-05-28 00:00:00'),
 Timestamp('2014-05-29 00:00:00'),
 Timestamp('2014-05-30 00:00:00'),
 Timestamp('2014-06-02 00:00:00'),
 Timestamp('2014-06-03 00:00:00'),
 Timestamp('2014-06-05 00:00:00'),
 Timestamp('2014-06-09 00:00:00'),
 Timestamp('2014-06-10 00:00:00'),
 Timestamp('2014-06-11 00:00:00'),
 Timestamp('2014-06-12 00:00:00'),
 Timestamp('2014-06-13 00:00:00'),
 Timestamp('2014-06-16 00:00:00'),
 Timestamp('2014-06-17 00:00:00'),
 Timestamp('2014-06-18 00:00:00'),
 Timestamp('2014-06-19 00:00:00'),
 Timestamp('2014-06-20 00:00:00'),
 Timestamp('2014-06-23 00:00:00'),
 Timestamp('2014-06-24 00:00:00'),
 Timestamp('2014-06-25 00:00:00'),
 Timestamp('2014-06-26 00:00:00'),
 Timestamp('2014-06-27 00:00:00'),
 Timestamp('2014-06-30 00:00:00'),
 Timestamp('2014-07-01 00:00:00'),
 Timestamp('2014-07-02 00:00:00'),
 Timestamp('2014-07-03 00:00:00'),
 Timestamp('2014-07-04 00:00:00'),
 Timestamp('2014-07-07 00:00:00'),
 Timestamp('2014-07-08 00:00:00'),
 Timestamp('2014-07-09 00:00:00'),
 Timestamp('2014-07-10 00:00:00'),
 Timestamp('2014-07-11 00:00:00'),
 Timestamp('2014-07-14 00:00:00'),
 Timestamp('2014-07-15 00:00:00'),
 Timestamp('2014-07-16 00:00:00'),
 Timestamp('2014-07-17 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-21 00:00:00'),
 Timestamp('2014-07-22 00:00:00'),
 Timestamp('2014-07-23 00:00:00'),
 Timestamp('2014-07-24 00:00:00'),
 Timestamp('2014-07-25 00:00:00'),
 Timestamp('2014-07-28 00:00:00'),
 Timestamp('2014-07-29 00:00:00'),
 Timestamp('2014-07-30 00:00:00'),
 Timestamp('2014-07-31 00:00:00'),
 Timestamp('2014-08-01 00:00:00'),
 Timestamp('2014-08-04 00:00:00'),
 Timestamp('2014-08-05 00:00:00'),
 Timestamp('2014-08-06 00:00:00'),
 Timestamp('2014-08-07 00:00:00'),
 Timestamp('2014-08-08 00:00:00'),
 Timestamp('2014-08-11 00:00:00'),
 Timestamp('2014-08-12 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-14 00:00:00'),
 Timestamp('2014-08-18 00:00:00'),
 Timestamp('2014-08-19 00:00:00'),
 Timestamp('2014-08-20 00:00:00'),
 Timestamp('2014-08-21 00:00:00'),
 Timestamp('2014-08-22 00:00:00'),
 Timestamp('2014-08-25 00:00:00'),
 Timestamp('2014-08-26 00:00:00'),
 Timestamp('2014-08-27 00:00:00'),
 Timestamp('2014-08-28 00:00:00'),
 Timestamp('2014-08-29 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2014-09-02 00:00:00'),
 Timestamp('2014-09-03 00:00:00'),
 Timestamp('2014-09-04 00:00:00'),
 Timestamp('2014-09-05 00:00:00'),
 Timestamp('2014-09-11 00:00:00'),
 Timestamp('2014-09-12 00:00:00'),
 Timestamp('2014-09-15 00:00:00'),
 Timestamp('2014-09-16 00:00:00'),
 Timestamp('2014-09-17 00:00:00'),
 Timestamp('2014-09-18 00:00:00'),
 Timestamp('2014-09-19 00:00:00'),
 Timestamp('2014-09-22 00:00:00'),
 Timestamp('2014-09-23 00:00:00'),
 Timestamp('2014-09-24 00:00:00'),
 Timestamp('2014-09-25 00:00:00'),
 Timestamp('2014-09-26 00:00:00'),
 Timestamp('2014-09-29 00:00:00'),
 Timestamp('2014-09-30 00:00:00'),
 Timestamp('2014-10-01 00:00:00'),
 Timestamp('2014-10-02 00:00:00'),
 Timestamp('2014-10-06 00:00:00'),
 Timestamp('2014-10-07 00:00:00'),
 Timestamp('2014-10-08 00:00:00'),
 Timestamp('2014-10-10 00:00:00'),
 Timestamp('2014-10-13 00:00:00'),
 Timestamp('2014-10-14 00:00:00'),
 Timestamp('2014-10-15 00:00:00'),
 Timestamp('2014-10-16 00:00:00'),
 Timestamp('2014-10-17 00:00:00'),
 Timestamp('2014-10-20 00:00:00'),
 Timestamp('2014-10-21 00:00:00'),
 Timestamp('2014-10-22 00:00:00'),
 Timestamp('2014-10-23 00:00:00'),
 Timestamp('2014-10-24 00:00:00'),
 Timestamp('2014-10-27 00:00:00'),
 Timestamp('2014-10-28 00:00:00'),
 Timestamp('2014-10-29 00:00:00'),
 Timestamp('2014-10-30 00:00:00'),
 Timestamp('2014-10-31 00:00:00'),
 Timestamp('2014-11-03 00:00:00'),
 Timestamp('2014-11-04 00:00:00'),
 Timestamp('2014-11-05 00:00:00'),
 Timestamp('2014-11-06 00:00:00'),
 Timestamp('2014-11-07 00:00:00'),
 Timestamp('2014-11-10 00:00:00'),
 Timestamp('2014-11-11 00:00:00'),
 Timestamp('2014-11-12 00:00:00'),
 Timestamp('2014-11-13 00:00:00'),
 Timestamp('2014-11-14 00:00:00'),
 Timestamp('2014-11-17 00:00:00'),
 Timestamp('2014-11-18 00:00:00'),
 Timestamp('2014-11-19 00:00:00'),
 Timestamp('2014-11-20 00:00:00'),
 Timestamp('2014-11-21 00:00:00'),
 Timestamp('2014-11-24 00:00:00'),
 Timestamp('2014-11-25 00:00:00'),
 Timestamp('2014-11-26 00:00:00'),
 Timestamp('2014-11-27 00:00:00'),
 Timestamp('2014-11-28 00:00:00'),
 Timestamp('2014-12-01 00:00:00'),
 Timestamp('2014-12-02 00:00:00'),
 Timestamp('2014-12-03 00:00:00'),
 Timestamp('2014-12-04 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-08 00:00:00'),
 Timestamp('2014-12-09 00:00:00'),
 Timestamp('2014-12-10 00:00:00'),
 Timestamp('2014-12-11 00:00:00'),
 Timestamp('2014-12-12 00:00:00'),
 Timestamp('2014-12-15 00:00:00'),
 Timestamp('2014-12-16 00:00:00'),
 Timestamp('2014-12-17 00:00:00'),
 Timestamp('2014-12-18 00:00:00'),
 Timestamp('2014-12-19 00:00:00'),
 Timestamp('2014-12-22 00:00:00'),
 Timestamp('2014-12-23 00:00:00'),
 Timestamp('2014-12-24 00:00:00'),
 Timestamp('2014-12-26 00:00:00'),
 Timestamp('2014-12-29 00:00:00'),
 Timestamp('2014-12-30 00:00:00'),
 Timestamp('2015-01-02 00:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2015-01-06 00:00:00'),
 Timestamp('2015-01-07 00:00:00'),
 Timestamp('2015-01-08 00:00:00'),
 Timestamp('2015-01-09 00:00:00'),
 Timestamp('2015-01-12 00:00:00'),
 Timestamp('2015-01-13 00:00:00'),
 Timestamp('2015-01-14 00:00:00'),
 Timestamp('2015-01-15 00:00:00'),
 Timestamp('2015-01-16 00:00:00'),
 Timestamp('2015-01-19 00:00:00'),
 Timestamp('2015-01-20 00:00:00'),
 Timestamp('2015-01-21 00:00:00'),
 Timestamp('2015-01-22 00:00:00'),
 Timestamp('2015-01-23 00:00:00'),
 Timestamp('2015-01-26 00:00:00'),
 Timestamp('2015-01-27 00:00:00'),
 Timestamp('2015-01-28 00:00:00'),
 Timestamp('2015-01-29 00:00:00'),
 Timestamp('2015-01-30 00:00:00'),
 Timestamp('2015-02-02 00:00:00'),
 Timestamp('2015-02-03 00:00:00'),
 Timestamp('2015-02-04 00:00:00'),
 Timestamp('2015-02-05 00:00:00'),
 Timestamp('2015-02-06 00:00:00'),
 Timestamp('2015-02-09 00:00:00'),
 Timestamp('2015-02-10 00:00:00'),
 Timestamp('2015-02-11 00:00:00'),
 Timestamp('2015-02-12 00:00:00'),
 Timestamp('2015-02-13 00:00:00'),
 Timestamp('2015-02-16 00:00:00'),
 Timestamp('2015-02-17 00:00:00'),
 Timestamp('2015-02-23 00:00:00'),
 Timestamp('2015-02-24 00:00:00'),
 Timestamp('2015-02-25 00:00:00'),
 Timestamp('2015-02-26 00:00:00'),
 Timestamp('2015-02-27 00:00:00'),
 Timestamp('2015-03-02 00:00:00'),
 Timestamp('2015-03-03 00:00:00'),
 Timestamp('2015-03-04 00:00:00'),
 Timestamp('2015-03-05 00:00:00'),
 Timestamp('2015-03-06 00:00:00'),
 Timestamp('2015-03-09 00:00:00'),
 Timestamp('2015-03-10 00:00:00'),
 Timestamp('2015-03-11 00:00:00'),
 Timestamp('2015-03-12 00:00:00'),
 Timestamp('2015-03-13 00:00:00'),
 Timestamp('2015-03-16 00:00:00'),
 Timestamp('2015-03-17 00:00:00'),
 Timestamp('2015-03-18 00:00:00'),
 Timestamp('2015-03-19 00:00:00'),
 Timestamp('2015-03-20 00:00:00'),
 Timestamp('2015-03-23 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-25 00:00:00'),
 Timestamp('2015-03-26 00:00:00'),
 Timestamp('2015-03-27 00:00:00'),
 Timestamp('2015-03-30 00:00:00'),
 Timestamp('2015-03-31 00:00:00'),
 Timestamp('2015-04-01 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-22 00:00:00'),
 Timestamp('2015-05-26 00:00:00'),
 Timestamp('2015-05-27 00:00:00'),
 Timestamp('2015-05-28 00:00:00'),
 Timestamp('2015-05-29 00:00:00'),
 Timestamp('2015-06-01 00:00:00'),
 Timestamp('2015-06-02 00:00:00'),
 Timestamp('2015-06-03 00:00:00'),
 Timestamp('2015-06-04 00:00:00'),
 Timestamp('2015-06-05 00:00:00'),
 Timestamp('2015-06-08 00:00:00'),
 Timestamp('2015-06-09 00:00:00'),
 Timestamp('2015-06-10 00:00:00'),
 Timestamp('2015-06-11 00:00:00'),
 Timestamp('2015-06-12 00:00:00'),
 Timestamp('2015-06-15 00:00:00'),
 Timestamp('2015-06-16 00:00:00'),
 Timestamp('2015-06-17 00:00:00'),
 Timestamp('2015-06-18 00:00:00'),
 Timestamp('2015-06-19 00:00:00'),
 Timestamp('2015-06-22 00:00:00'),
 Timestamp('2015-06-23 00:00:00'),
 Timestamp('2015-06-24 00:00:00'),
 Timestamp('2015-06-25 00:00:00'),
 Timestamp('2015-06-26 00:00:00'),
 Timestamp('2015-06-29 00:00:00'),
 Timestamp('2015-06-30 00:00:00'),
 Timestamp('2015-07-01 00:00:00'),
 Timestamp('2015-07-02 00:00:00'),
 Timestamp('2015-07-03 00:00:00'),
 Timestamp('2015-07-06 00:00:00'),
 Timestamp('2015-07-07 00:00:00'),
 Timestamp('2015-07-08 00:00:00'),
 Timestamp('2015-07-09 00:00:00'),
 Timestamp('2015-07-10 00:00:00'),
 Timestamp('2015-07-13 00:00:00'),
 Timestamp('2015-07-14 00:00:00'),
 Timestamp('2015-07-15 00:00:00'),
 Timestamp('2015-07-16 00:00:00'),
 Timestamp('2015-07-17 00:00:00'),
 Timestamp('2015-07-20 00:00:00'),
 Timestamp('2015-07-21 00:00:00'),
 Timestamp('2015-07-22 00:00:00'),
 Timestamp('2015-07-23 00:00:00'),
 Timestamp('2015-07-24 00:00:00'),
 Timestamp('2015-07-27 00:00:00'),
 Timestamp('2015-07-28 00:00:00'),
 Timestamp('2015-07-29 00:00:00'),
 Timestamp('2015-07-30 00:00:00'),
 Timestamp('2015-07-31 00:00:00'),
 Timestamp('2015-08-03 00:00:00'),
 Timestamp('2015-08-04 00:00:00'),
 Timestamp('2015-08-05 00:00:00'),
 Timestamp('2015-08-06 00:00:00'),
 Timestamp('2015-08-07 00:00:00'),
 Timestamp('2015-08-10 00:00:00'),
 Timestamp('2015-08-11 00:00:00'),
 Timestamp('2015-08-12 00:00:00'),
 Timestamp('2015-08-13 00:00:00'),
 Timestamp('2015-08-17 00:00:00'),
 Timestamp('2015-08-18 00:00:00'),
 Timestamp('2015-08-19 00:00:00'),
 Timestamp('2015-08-20 00:00:00'),
 Timestamp('2015-08-21 00:00:00'),
 Timestamp('2015-08-24 00:00:00'),
 Timestamp('2015-08-25 00:00:00'),
 Timestamp('2015-08-26 00:00:00'),
 Timestamp('2015-08-27 00:00:00'),
 Timestamp('2015-08-28 00:00:00'),
 Timestamp('2015-08-31 00:00:00'),
 Timestamp('2015-09-01 00:00:00'),
 Timestamp('2015-09-02 00:00:00'),
 Timestamp('2015-09-03 00:00:00'),
 Timestamp('2015-09-04 00:00:00'),
 Timestamp('2015-09-07 00:00:00'),
 Timestamp('2015-09-08 00:00:00'),
 Timestamp('2015-09-09 00:00:00'),
 Timestamp('2015-09-10 00:00:00'),
 Timestamp('2015-09-11 00:00:00'),
 Timestamp('2015-09-14 00:00:00'),
 Timestamp('2015-09-15 00:00:00'),
 Timestamp('2015-09-16 00:00:00'),
 Timestamp('2015-09-17 00:00:00'),
 Timestamp('2015-09-18 00:00:00'),
 Timestamp('2015-09-21 00:00:00'),
 Timestamp('2015-09-22 00:00:00'),
 Timestamp('2015-09-23 00:00:00'),
 Timestamp('2015-09-24 00:00:00'),
 Timestamp('2015-09-25 00:00:00'),
 Timestamp('2015-09-30 00:00:00'),
 Timestamp('2015-10-01 00:00:00'),
 Timestamp('2015-10-02 00:00:00'),
 Timestamp('2015-10-05 00:00:00'),
 Timestamp('2015-10-06 00:00:00'),
 Timestamp('2015-10-07 00:00:00'),
 Timestamp('2015-10-08 00:00:00'),
 Timestamp('2015-10-12 00:00:00'),
 Timestamp('2015-10-13 00:00:00'),
 Timestamp('2015-10-14 00:00:00'),
 Timestamp('2015-10-15 00:00:00'),
 Timestamp('2015-10-16 00:00:00'),
 Timestamp('2015-10-19 00:00:00'),
 Timestamp('2015-10-20 00:00:00'),
 Timestamp('2015-10-21 00:00:00'),
 Timestamp('2015-10-22 00:00:00'),
 Timestamp('2015-10-23 00:00:00'),
 Timestamp('2015-10-26 00:00:00'),
 Timestamp('2015-10-27 00:00:00'),
 Timestamp('2015-10-28 00:00:00'),
 Timestamp('2015-10-29 00:00:00'),
 Timestamp('2015-10-30 00:00:00'),
 Timestamp('2015-11-02 00:00:00'),
 Timestamp('2015-11-03 00:00:00'),
 Timestamp('2015-11-04 00:00:00'),
 Timestamp('2015-11-05 00:00:00'),
 Timestamp('2015-11-06 00:00:00'),
 Timestamp('2015-11-09 00:00:00'),
 Timestamp('2015-11-10 00:00:00'),
 Timestamp('2015-11-11 00:00:00'),
 Timestamp('2015-11-12 00:00:00'),
 Timestamp('2015-11-13 00:00:00'),
 Timestamp('2015-11-16 00:00:00'),
 Timestamp('2015-11-17 00:00:00'),
 Timestamp('2015-11-18 00:00:00'),
 Timestamp('2015-11-19 00:00:00'),
 Timestamp('2015-11-20 00:00:00'),
 Timestamp('2015-11-23 00:00:00'),
 Timestamp('2015-11-24 00:00:00'),
 Timestamp('2015-11-25 00:00:00'),
 Timestamp('2015-11-26 00:00:00'),
 Timestamp('2015-11-27 00:00:00'),
 Timestamp('2015-11-30 00:00:00'),
 Timestamp('2015-12-01 00:00:00'),
 Timestamp('2015-12-02 00:00:00'),
 Timestamp('2015-12-03 00:00:00'),
 Timestamp('2015-12-04 00:00:00'),
 Timestamp('2015-12-07 00:00:00'),
 Timestamp('2015-12-08 00:00:00'),
 Timestamp('2015-12-09 00:00:00'),
 Timestamp('2015-12-10 00:00:00'),
 Timestamp('2015-12-11 00:00:00'),
 Timestamp('2015-12-14 00:00:00'),
 Timestamp('2015-12-15 00:00:00'),
 Timestamp('2015-12-16 00:00:00'),
 Timestamp('2015-12-17 00:00:00'),
 Timestamp('2015-12-18 00:00:00'),
 Timestamp('2015-12-21 00:00:00'),
 Timestamp('2015-12-22 00:00:00'),
 Timestamp('2015-12-23 00:00:00'),
 Timestamp('2015-12-24 00:00:00'),
 Timestamp('2015-12-28 00:00:00'),
 Timestamp('2015-12-29 00:00:00'),
 Timestamp('2015-12-30 00:00:00'),
 Timestamp('2016-01-04 00:00:00'),
 Timestamp('2016-01-05 00:00:00'),
 Timestamp('2016-01-06 00:00:00'),
 Timestamp('2016-01-07 00:00:00'),
 Timestamp('2016-01-08 00:00:00'),
 Timestamp('2016-01-11 00:00:00'),
 Timestamp('2016-01-12 00:00:00'),
 Timestamp('2016-01-13 00:00:00'),
 Timestamp('2016-01-14 00:00:00'),
 Timestamp('2016-01-15 00:00:00'),
 Timestamp('2016-01-18 00:00:00'),
 Timestamp('2016-01-19 00:00:00'),
 Timestamp('2016-01-20 00:00:00'),
 Timestamp('2016-01-21 00:00:00'),
 Timestamp('2016-01-22 00:00:00'),
 Timestamp('2016-01-25 00:00:00'),
 Timestamp('2016-01-26 00:00:00'),
 Timestamp('2016-01-27 00:00:00'),
 Timestamp('2016-01-28 00:00:00'),
 Timestamp('2016-01-29 00:00:00'),
 Timestamp('2016-02-01 00:00:00'),
 Timestamp('2016-02-02 00:00:00'),
 Timestamp('2016-02-03 00:00:00'),
 Timestamp('2016-02-04 00:00:00'),
 Timestamp('2016-02-05 00:00:00'),
 Timestamp('2016-02-11 00:00:00'),
 Timestamp('2016-02-12 00:00:00'),
 Timestamp('2016-02-15 00:00:00'),
 Timestamp('2016-02-16 00:00:00'),
 Timestamp('2016-02-17 00:00:00'),
 Timestamp('2016-02-18 00:00:00'),
 Timestamp('2016-02-19 00:00:00'),
 Timestamp('2016-02-22 00:00:00'),
 Timestamp('2016-02-23 00:00:00'),
 Timestamp('2016-02-24 00:00:00'),
 Timestamp('2016-02-25 00:00:00'),
 Timestamp('2016-02-26 00:00:00'),
 Timestamp('2016-02-29 00:00:00'),
 Timestamp('2016-03-02 00:00:00'),
 Timestamp('2016-03-03 00:00:00'),
 Timestamp('2016-03-04 00:00:00'),
 Timestamp('2016-03-07 00:00:00'),
 Timestamp('2016-03-08 00:00:00'),
 Timestamp('2016-03-09 00:00:00'),
 Timestamp('2016-03-10 00:00:00'),
 Timestamp('2016-03-11 00:00:00'),
 Timestamp('2016-03-14 00:00:00'),
 Timestamp('2016-03-15 00:00:00'),
 Timestamp('2016-03-16 00:00:00'),
 Timestamp('2016-03-17 00:00:00'),
 Timestamp('2016-03-18 00:00:00'),
 Timestamp('2016-03-21 00:00:00'),
 Timestamp('2016-03-22 00:00:00'),
 Timestamp('2016-03-23 00:00:00'),
 Timestamp('2016-03-24 00:00:00'),
 Timestamp('2016-03-25 00:00:00'),
 Timestamp('2016-03-28 00:00:00'),
 Timestamp('2016-03-29 00:00:00'),
 Timestamp('2016-03-30 00:00:00'),
 Timestamp('2016-03-31 00:00:00'),
 Timestamp('2016-04-01 00:00:00'),
 Timestamp('2016-04-04 00:00:00'),
 Timestamp('2016-04-05 00:00:00'),
 Timestamp('2016-04-06 00:00:00'),
 Timestamp('2016-04-07 00:00:00'),
 Timestamp('2016-04-08 00:00:00'),
 Timestamp('2016-04-11 00:00:00'),
 Timestamp('2016-04-12 00:00:00'),
 Timestamp('2016-04-14 00:00:00'),
 Timestamp('2016-04-15 00:00:00'),
 Timestamp('2016-04-18 00:00:00'),
 Timestamp('2016-04-19 00:00:00'),
 Timestamp('2016-04-20 00:00:00'),
 Timestamp('2016-04-21 00:00:00'),
 Timestamp('2016-04-22 00:00:00'),
 Timestamp('2016-04-25 00:00:00'),
 Timestamp('2016-04-26 00:00:00'),
 Timestamp('2016-04-27 00:00:00'),
 Timestamp('2016-04-28 00:00:00'),
 Timestamp('2016-04-29 00:00:00'),
 Timestamp('2016-05-02 00:00:00'),
 Timestamp('2016-05-03 00:00:00'),
 Timestamp('2016-05-04 00:00:00'),
 Timestamp('2016-05-09 00:00:00'),
 Timestamp('2016-05-10 00:00:00'),
 Timestamp('2016-05-11 00:00:00'),
 Timestamp('2016-05-12 00:00:00'),
 Timestamp('2016-05-13 00:00:00'),
 Timestamp('2016-05-16 00:00:00'),
 Timestamp('2016-05-17 00:00:00'),
 Timestamp('2016-05-18 00:00:00'),
 Timestamp('2016-05-19 00:00:00'),
 Timestamp('2016-05-20 00:00:00'),
 Timestamp('2016-05-23 00:00:00'),
 Timestamp('2016-05-24 00:00:00'),
 Timestamp('2016-05-25 00:00:00'),
 Timestamp('2016-05-26 00:00:00'),
 Timestamp('2016-05-27 00:00:00'),
 Timestamp('2016-05-29 00:00:00'),
 Timestamp('2016-05-30 00:00:00'),
 Timestamp('2016-05-31 00:00:00'),
 Timestamp('2016-06-01 00:00:00'),
 Timestamp('2016-06-02 00:00:00'),
 Timestamp('2016-06-03 00:00:00'),
 Timestamp('2016-06-06 00:00:00'),
 Timestamp('2016-06-07 00:00:00'),
 Timestamp('2016-06-08 00:00:00'),
 Timestamp('2016-06-09 00:00:00'),
 Timestamp('2016-06-10 00:00:00'),
 Timestamp('2016-06-12 00:00:00'),
 Timestamp('2016-06-13 00:00:00'),
 Timestamp('2016-06-14 00:00:00'),
 Timestamp('2016-06-15 00:00:00'),
 Timestamp('2016-06-16 00:00:00'),
 Timestamp('2016-06-17 00:00:00'),
 Timestamp('2016-06-19 00:00:00'),
 Timestamp('2016-06-20 00:00:00'),
 Timestamp('2016-06-21 00:00:00'),
 Timestamp('2016-06-22 00:00:00'),
 Timestamp('2016-06-23 00:00:00'),
 Timestamp('2016-06-24 00:00:00'),
 Timestamp('2016-06-26 00:00:00'),
 Timestamp('2016-06-27 00:00:00'),
 Timestamp('2016-06-28 00:00:00'),
 Timestamp('2016-06-29 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-07-01 00:00:00'),
 Timestamp('2016-07-03 00:00:00'),

In [12]:
df['date']= df.index

In [13]:
df.head()

               Open     High      Low    Close  Volume Currency       date
Date
2014-03-14  69700.0  77200.0  69500.0  76500.0  531434      KRW 2014-03-14
2014-03-17  76000.0  77500.0  74800.0  76000.0  194075      KRW 2014-03-17
2014-03-18  76200.0  76600.0  75000.0  76100.0  122992      KRW 2014-03-18
2014-03-19  76600.0  80200.0  75400.0  79800.0  274819      KRW 2014-03-19
2014-03-20  79000.0  80200.0  77600.0  79800.0  128509      KRW 2014-03-20

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1808 entries, 2014-03-14 to 2020-09-23
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Open      1808 non-null   float64
 1   High      1808 non-null   float64
 2   Low       1808 non-null   float64
 3   Close     1808 non-null   float64
 4   Volume    1808 non-null   int64
 5   Currency  1808 non-null   object
 6   date      1808 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 105.9+ KB

In [16]:
df['date'].astype('str')

Date
2014-03-14    2014-03-14
2014-03-17    2014-03-17
2014-03-18    2014-03-18
2014-03-19    2014-03-19
2014-03-20    2014-03-20
                 ...
2020-09-18    2020-09-18
2020-09-20    2020-09-20
2020-09-21    2020-09-21
2020-09-22    2020-09-22
2020-09-23    2020-09-23
Name: date, Length: 1808, dtype: object

### 크롤링 데이터 양식

In [4]:
pd.read_csv('./news_000270.csv', index_col=0)

,제목,링크,기관,날짜,시간
0,상품성 높이고도 2000만원대 맞춘 기아차 '스포티지'..오늘부터 판매,https://finance.naver.com/item/news_read.nhn?a...,머니투데이,2020.09.22,09:15
1,디자인에 편의성까지 잡았다...기아차 '2021 스포티지' 출시,https://finance.naver.com/item/news_read.nhn?a...,파이낸셜뉴스,2020.09.22,09:05
2,기아차 ‘2021 스포티지’ 출시…2376만원부터,https://finance.naver.com/item/news_read.nhn?a...,헤럴드경제,2020.09.22,09:03
3,"기아차, 업그레이드한 ‘2021 스포티지’ 출시",https://finance.naver.com/item/news_read.nhn?a...,이데일리,2020.09.22,09:02
4,블랙 테마 트림에 편의사양 강화…기아차 '2021 스포티지' 출시,https://finance.naver.com/item/news_read.nhn?a...,아시아경제,2020.09.22,08:30
...,...,...,...,...,...
4688,"[특징주]기아차, 신차 흥행에 따른 실적 개선 전망에 강세",https://finance.naver.com/item/news_read.nhn?a...,이데일리,2019.09.23,09:15
4689,"기아차, 신차 연달아 흥행 가도..목표가 상향-신한",https://finance.naver.com/item/news_read.nhn?a...,이데일리,2019.09.23,08:44
4690,"기아차, 신차 판매 호조세...목표가↑-신한금융투자",https://finance.naver.com/item/news_read.nhn?a...,파이낸셜뉴스,2019.09.23,08:43
4696,"""기아차, 내수 판매 회복으로 실적 개선 기대···목표주가↑""",https://finance.naver.com/item/news_read.nhn?a...,서울경제,2019.09.23,08:32
4697,현대·기아차 디자인 이끄는 'ACCD 동문',https://finance.naver.com/item/news_read.nhn?a...,서울경제,2019.09.22,17:42

In [6]:
pd.read_csv('./upjong_code.csv', index_col=0)

        종목코드                      종목명            업종 코스닥여부
0     000020                     동화약품            제약     N
1     000040                    KR모터스           자동차     N
2     000050                       경방  섬유,의류,신발,호화품     N
3     000060                    메리츠화재          손해보험     N
4     000070                    삼양홀딩스            식품     N
...      ...                      ...           ...   ...
1556  590018       미래에셋 중국 심천 100 ETN            기타     N
1557  590012       미래에셋 글로벌 리츠 ETN(H)            기타     N
1558  700001  하나 코스피 변동성추세 추종 양매도 ETN            기타     N
1559  900140                 엘브이엠씨홀딩스           자동차     N
1560     NaN                      NaN           NaN   NaN

[1561 rows x 4 columns]