### 1차. 스윙전략을 사용한, Feasilbilty 확인
- 카카오 종목 선정
- 차트 분석 지표들을 고르겠다

   : ex) 전일 종가, 10일, 60일, 120일 평균 종가 대비 당일 종가비율, 볼린저 밴드(api나 financedatareader 에서 받을수 있는지 확인)
   
   : 매매 전략 관련 지표 참고 : http://money2.daishin.com/help/cybos_strategy/chart_help.htm

In [1]:
import FinanceDataReader as fdr

In [2]:
# 카카오 주가 확인.
dfs = fdr.DataReader('035720', '2020-04-27')
dfs

              Open    High     Low   Close   Volume    Change
Date
2020-04-27  183000  187000  181500  184000   721963  0.005464
2020-04-28  185500  186500  181500  185000   668638  0.005435
2020-04-29  184000  186500  182500  184000   659512 -0.005405
2020-05-04  181500  190000  180000  186500  1019409  0.013587
2020-05-06  189000  200000  188000  199500  2035947  0.069705
...            ...     ...     ...     ...      ...       ...
2020-09-29  374500  375000  364000  364500   612054 -0.012195
2020-10-05  360500  370500  358000  370500   522228  0.016461
2020-10-06  373500  383500  370000  381500   765339  0.029690
2020-10-07  378000  381500  376000  380500   398285 -0.002621
2020-10-08  383500  387000  379000  379000   621768 -0.003942

[112 rows x 6 columns]

In [5]:
dfs['Open/Volume'] = dfs['Open']/dfs['Volume']

In [6]:
dfs

              Open    High     Low   Close   Volume    Change  Open/Volume
Date
2020-04-27  183000  187000  181500  184000   721963  0.005464     0.253476
2020-04-28  185500  186500  181500  185000   668638  0.005435     0.277430
2020-04-29  184000  186500  182500  184000   659512 -0.005405     0.278994
2020-05-04  181500  190000  180000  186500  1019409  0.013587     0.178044
2020-05-06  189000  200000  188000  199500  2035947  0.069705     0.092831
...            ...     ...     ...     ...      ...       ...          ...
2020-09-29  374500  375000  364000  364500   612054 -0.012195     0.611874
2020-10-05  360500  370500  358000  370500   522228  0.016461     0.690312
2020-10-06  373500  383500  370000  381500   765339  0.029690     0.488019
2020-10-07  378000  381500  376000  380500   398285 -0.002621     0.949069
2020-10-08  383500  387000  379000  379000   621768 -0.003942     0.616790

[112 rows x 7 columns]